/* responsive */
@media only screen and (max-width: 1024px) {
    
}
@media only screen and (max-width: 923px) {

}

/* 2 */
@media only screen and (max-width: 705px) {

}
/* 3 */
@media screen and (max-width: 321px) {

} 


/* animation  */
#saqr {
    animation: saqr 10s linear infinite;
}

@keyframes saqr {
0%, 100% {
    transform: translateY(30px);
}
50% {
    transform: translateY(-30px);
}
}


#logo:hover{
    animation: shake 1s linear 1;
}
@keyframes shake{
0%{
    transform: rotate(0deg);
}
25%{
    transform: rotate(-5deg);
}
50%{
    transform: rotate(5deg);
}
75%{
    transform: rotate(-5deg);
}
100%{
    transform: rotate(0deg);
}
}

/* webkits */
::-webkit-scrollbar {
	width: 10px;
	color: #ffffff;
}

::-webkit-scrollbar-track {
	background: #110e0f;
}

::-webkit-scrollbar-thumb {
	background: #222327;
	border-radius: 100px;
	transition: all 1s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
	background: gold;
}