@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Changa:wght@200;300;400;500;600;700;800&family=Mada:wght@200;300;400;500;600;700;900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

:root {
    --font1_ar: "Cairo", sans-serif;
    --font2_ar: "Changa", sans-serif;
    --font7_ar: "Tajawal", sans-serif;
    --font5_ar: "Mada", sans-serif;

    --body: rgb(39, 41, 52);
    --sections: #1919195d;
    --color1: #eeeeee;
    --color2: #262727;
    --color3: #FED302;
    --color4: #FED3027a;
    --navbarC: #2a2a2a;
    --false: #888888;
    --true: #008800;
    
    --fontColor1: #eeeeee;
    --dark-section-bg: #34331f;
    --dark-section-bg-1: #1f2034;
    --dark-body-bg: #222222;
    --image: 100%;
}

/* body style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: var(--body);
    font-family: var(--font1_ar);
}








.cmd {
    background-color: var(--dark-body-bg);
    border: 1px solid var(--color1);
}


.about-title {
    font-size: 50px;
    font-weight: 900;
}

.about-description {
    color: var(--color1);
    border-radius: 10px;

}


.about {
    background: var(--dark-section-bg-1);
    border-color: var(--dark-section-bg);
    color: var(--fontColor1);
    font-weight: bold;
    font-family: var(--font2_ar);
}


/* loading */
#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #222222;
    z-index: 99999999;
}

.load {
    width:100%;
    height:100vh;
    background-color: var(--body);
    display: flex;
    justify-content: center;
    align-items: center;
}

.load div {
    width: 25px;
    height: 25px;
    background-color: var(--color3);
    margin-left: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: calc(50px - 12.5px);
    animation-name: loading;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.load-two {
    animation-delay: 0.4s;
}

.load-three {
    animation-delay: 0.8s;
}

@keyframes loading {
    to {
        opacity: 0.3;
        transform: translateY(-25px);
        -webkit-transform: translateY(-25px);
        -moz-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
        -o-transform: translateY(-25px);
    }
}







.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent;
}

.form-select:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent;
}

.image {
    border-radius: var(--image);
}
/* end body */


.form-control:disabled, .form-control[readonly] {
    background-color: rgba(0, 0, 0, 0.767);
    color: rgba(255,255,255,.55);
    opacity: 1;
}

.toast {
    background-color: transparent;
    width: 90%;
}

/* https://khaalipaper.com/html/remove-arrows-from-input-type-number.php#:~:text=In%20%3C%20input%20type%3D%22number%22%20%3E%20field%20by%20default,a%20form%20element%20that%20is%20new%20in%20HTML5. */
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
    content: "^";
    position:absolute;
    right: 0;
    font-family:monospace;
    line-height: 1.5;
}

input[type=number]::-webkit-inner-spin-button:before {
    top:0px;
}

input[type=number]::-webkit-inner-spin-button:after {
    bottom:0px;
    -webkit-transform: rotate(180deg);
}

/* navbar */
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link {
    color: var(--color1);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--color3);
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.0rem;
}

#phone-navbar {
    color: #FFFFFF;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

nav ul li a {
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: var(--fontColor1);
    -webkit-transition: transform 250ms;
    transition: transform 250ms;
}

nav ul li a:hover::after {
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
}

/* fdrbot */
.bg-fdr {
    background-color: #1919195d;
    padding: 35px;
}

.avatar-image {
    height: 200px;
    width: auto;
    margin: 20px;
}

.text {
    color: #eeeeee;
}

.primary {
    border-color: var(--color3);
    color: var(--color1);
}
.primary:hover {
    background: var(--color3);
    color: var(--color1);
}
.primary:focus {
    background: var(--color3);
    color: var(--color1);
}

.button-fdr {
    color: var(--color1);
    border-radius: 5px;
    background: var(--color3);
    transition: all .5s;
}



.button-fdr:hover {
    background: var(--color4);
    border-radius: 7px;
    color: var(--color1);
}

.title {
    text-align: center;
    color: var(--color3);
    font-weight: bold;
    font-family: var(--font2_ar);
}


/* bot box */
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: var(--color2);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-menu .red {
    color: red;
}

.dropdown-menu .primary {
    background: transparent;
    color: var(--color1);
}

.dropdown-menu.primary:hover, .red:hover {
    background: transparent;
    color: var(--color1);
}

.dropdown-menu .primary:focus {
    background: transparent;
    color: var(--color1);
}

.dropdown-menu .red {
    color: rgb(255, 0, 0);
}

/* cards */
.card-fdr {
    border-radius: 10px;
    background: #222222;
    transition: all ease .5s; 
}

.card-fdr:hover {
    background: #22222288;
}

.card-outline-fdr {
    width: 60%;
    height: 10px;
    position: absolute;
    left: 50%;
    top: -1px;
    transform: translateX(-50%);
    background-color: var(--color3);
    border-radius: 0px 0px 10px 10px;
}

.icon {
    color: var(--color3);
}

#card-animation {
    transition: all ease .5s; 
    
}
#card-animation:hover {
    transform: scale(1.02);
}

/* title */
.about-fdr, .fdr-about:hover {
    color: var(--color3);
}

.card-1 {
    background: var(--dark-body-bg);
}

.title::before {
    content: '';
    background: var(--color3);
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
    border-radius: 5px;
}

.title::after {
    content: '';
    background: var(--color3);
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
    border-radius: 10px;
}

/* dashboard */
.banner {
    position: absolute;
    inset: 0px;
    z-index: 1;
    transform: scale(1);
    filter: blur(10px);
    opacity: 0.5;
}

.avatar-server {
    position: relative;
    z-index: 2;
    border: 2px solid rgb(242, 244, 251);
    filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 32px 72px);
    border-radius: 100px;
    flex-shrink: 0;
}

.avalidated {
    transition: .5s;    
}

.avalidated:hover {
    transform: scale(1.1);
}

.unvalidated {
    width: 47%;
    cursor: pointer;
    filter: grayscale(80%);
    transition: .5s;
}

.unvalidated:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}


/* guild */

.form-select {
    background-color: var(--color2);
    color: var(--color1);
    border: 1px solid var(--false);
}

.set {
    font-size: 20px;
}

.form-check-input {
    background-color: var(--false);
}

/* .form-check {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");

} */

.form-check-input:checked {
    background-color: var(--true);
}

.form-check-input:focus {
    border-color: rgba(255, 255, 255, 0);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0) 
}

.form-switch .form-check-input {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")
}

.sfsf {
    color: #acbbbc;
    margin-top: 0px;
}

.sfsf-1 {
    color: #b68181;
    margin-top: 0px;
}

.form-select:disabled {
    background-color: transparent;
}

.form-control-color {
    display: block;
    width: 100%;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color2);
    background-color: transparent;
    background-clip: padding-box;
    border: 2px solid var(--false);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* save menu */
.save-menu button:first-child {
    color: var(--color1);
    border-radius: 5px;
    font-weight: 700;
    background: var(--color3);
    transition: all .5s;
}

.save-menu button:first-child:hover {
    background: #34331f;
    border-radius: 7px;
    color: var(--color1);
}


.save-menu button:last-child {
    border: 1px solid #acbbbc;
    font-weight: 500;
    color: var(--color1);
    border-radius: 5px;
    transition: all .5s;
}

.save-menu button:last-child:hover {
    background: #acbbbc;
    color: var(--color1);
    border-radius: 7px;
    color: var(--color1);
}

.rt {
    transform: rotate(-90deg);
}


.online {
    background-color: #3ba55d;
}.online:checked {
    background-color: #3ba55d;
}
.idle {
    background-color: #faa81a;
}.idle:checked {
    background-color: #faa81a;
}
.dnd {
    background-color: #ed4245;
}.dnd:checked {
    background-color: #ed4245;
}
.offline {
    background-color: #747f8d;
}.offline:checked {
    background-color: #747f8d;
}


/* 404 */
.error {
    background: var(--dark-section-bg);
    border-color: #4e4e35;
    color: var(--fontColor1);
    font-weight: bold;
    font-family: var(--font2_ar);
    width: 50rem;
}

.error-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-2 {
    color: var(--bs-danger);
}

.text-1 {
    font-weight: bold;
    font-family: var(--font1_ar);
}

/* about */
/* .about{
    background: var(--dark-section-bg-1);
    border-color: var(--dark-section-bg);
    color: var(--fontColor1);
    font-weight: bold;
    font-family: var(--font2_ar);
    width: 50rem;
} */

.about-2 {
    color: var(--color3);
}

.about-2-1 {
    color: var(--color1);
}

.about-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.maintenance {
    opacity: .65;
}

/* admin */
.verify {
    color: var(--color3);
}

.not-found {
    background-color: var(--dark-section-bg-1);
    padding: 35px;
}

/* admin */
.bot_1 {
    background-color: var(--color3);
    border: 1px solid var(--color2);
    border-radius: 7px;
    transition: all 0.10s;
}

.bot_1:hover {
    background-color: var(--color3);
    border: 1px solid var(--color2);
    border-radius: 7px;
}

.bot_1:focus {
    background-color: var(--color3);
    border: 1px solid var(--dark-section-bg);
    border-radius: 7px;
    box-shadow: 0px 55px 91px -25px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 55px 91px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 55px 91px -25px rgba(0, 0, 0, 0.75);
}

/* control */
section#fdrbot {
    display: flex;
    align-items: stretch;
}

.form-control:focus {
    color: #212529;
    background-color: #171b28 !important;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent;
}

.bot_2 {
    background-color: #161a28;
    color: #fff !important;
    font-weight: bold;
    font-size: 16px;
    font-family: var(--font2_ar);
    padding: 9px;
    border: 1px solid var(--color3);
    border-radius: 6px;
    box-shadow: none !important;
}

#bot_3:hover, .bot_2:hover {
    background-color: #10131e;
    border: 1px solid var(--color3);
}

.bot_2:focus, .bot_2:active {
    background-color: #10131e !important;
}

section.bot_4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot_5 {
    border: 2px solid var(--color3)!important;
    border-top: none !important;
    border-radius: 0px 0px 5px 0px 5px!important;
}

div.bot_6 {
    background-color: #161a28;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

div.bot_7 {
    background-color: transparent;
    border: none !important;
}

div.bot_6 {
    cursor: pointer;
}

.bot_8 {
    box-shadow: 0px 0px 121px -65px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 0px 0px 121px -65px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 0px 0px 121px -65px rgba(0, 0, 0, 0.75) inset;
    border-right: 10px solid #5fa9ee !important;
    border-radius: 7px;
}

/* logs */
div#logs {
    display: flex;
    flex-direction: column;
}

div.logs_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img.logs_3 {
    border-radius: 50%;
    border: 1px solid;
    margin-left: 18px;
}

.saqr_bot {
    border: 3px solid var(--color3);
    border-radius: 50px;
}

/* Thanks for developer sqer to devlop this style 🤍 */