{% extends 'base.html' %}

{% block stats_for_login %}
<li class="nav-item">
    <a href="/" class="nav-link">
      <button class="btn btn-outline-warning text-white c" type="submit">
        الصفحة الرئيسية
      </button>
    </a>
  </li>
{% endblock %}

{% block content %}

<div class="all text first div">
    <section class="main text div first">
        <div class="container">
            <div class="text-center text-light">
                <img class="w-25 saqr-img" id="saqr" src="{{ url_for('static', filename='images/avatar.png') }}" alt="">
                <p class="saqr-about">
                    <br>
                    {% if code == 404 %}
                        <span class="saqr-color-logo">:-(</span> نعتذر منك يبدو ان الصفحة المطلوبة غير موجوده
                    {% elif code == 403 %}
                        <span class="saqr-color-logo">:-(</span> نعتذر منك أنت لا تمتلك صلاحيات للدخول لهذه الصفحة
                    {% endif %}
                    </p>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}