{% extends 'base.html' %}

{% block content %}

<section class="bg-fdr">
    <div class="container">
        <div class="text-center">
            <i class="fa-solid fa-triangle-exclamation fa-7x error-2" aria-hidden="true"></i><br><br>
            <div class="error-1">
                <div class="card error">
                    <div class="card-body">
                        {% if code == 404 %}
                            <h2 class="card-text text-"><i class="fa-solid fa-triangle-exclamation"></i> نعتذر منك يبدو ان الصفحة المطلوبة غير موجوده</h2>
                        {% elif code == 403 %}
                            <h2 class="card-text text-1"><i class="fa-solid fa-triangle-exclamation"></i> نعتذر منك أنت لا تمتلك صلاحيات للدخول لهذه الصفحة</h2>
                        {% endif %}
                        <a href="/" class="nav-link">
                            <button class="btn btn-outline-warning text-white c" type="submit">
                              الصفحة الرئيسية
                            </button>
                          </a>
                    </div>
                    </div>
            </div>
            <br><br><br>
        </div>
    </div>
</section>


{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}