<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>فاذكروني</title>
  <!--  -->
  <meta name="theme-color" content="#014dffde">
  <meta name="og:title" content="فاذكروني">
  <meta name="description" content="لبوت يذكرك بالله بإرسال الاذكار , الحديث او القران كل ساعة او المدة التي تقوم بتحديدها">
  <meta name="og:url" content="https://fdrbot.xyz/">
  <meta name="og:description" content=".يجب عليك بعد دعوة البوت تحديد روم لكي يبدا البوت بإرسال رسائل في الروم المحدد, البوت غير ربحي و اهدافه خالصه لله عز و جل">
  <meta name="twitter:card" content="summary">
  <meta name="og:image" content="https://cdn.discordapp.com/attachments/854381955511746600/938683781504708658/Picsart_22-02-03_09-33-52-784.png">
<!--  -->
  <link rel="icon" href="https://cdn.discordapp.com/attachments/854381955511746600/938683781504708658/Picsart_22-02-03_09-33-52-784.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/min.css" rel="stylesheet">
  <link href="css/mian.css" rel="stylesheet">
  <link href="css/media.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://unpkg.com/discord-fetcher@1.0.3/index.min.js"></script> 
</head>
<body onload="myFunction()">
  <!-- loading -->
<div id="loading">
  <img class="container py-5 w-25 d-flex justify-content-center align-items-center text-center" src="/img/Loading-FdrBot.gif" alt="">
  <h6 class="text-white container py-5 w-25 d-flex justify-content-center align-items-center text-center">موقة راح اغيره</h6>
</div>
<!-- ----------------- -->

<header>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark text-white">
    <div class="container">
        <a href="/" class="navbar-brand saqr-logo">
          فاذك<span class="saqr-color-logo">روني</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a href="/dashboard.html" class="nav-link">الصفحة الرئيسية</a></li>
                <!-- <li class="nav-item"><a href="/about.html" class="nav-link">حول</a></li> -->
                <li class="nav-item"><a href="#" class="nav-link">الاوامر</a></li>
                <li class="nav-item"><a href="#" class="nav-link">اضافة البوت</a></li>
                <li class="nav-item"><a href="#" class="nav-link"><button class="btn btn-outline-warning text-white c" type="submit">التسجيل الدخول</button></a></li>
            </ul>
        </div>
    </div>
</nav>
</header>





<div class="all text first div">
<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>
<section class="main text div first">
  <div class="container">
    <div class="text-center text-light">
      <h1 class="saqr-color-logo">حول</h1>
      <p class="saqr-about">
        بوت <span class="saqr-color-logo">فاذكروني </span>اول بوت عربي اسلامي للاذكار و القران الكريم <span class="saqr-color-logo"></span> <span class="saqr-color-logo"></span>
      </p>
      <br><hr><br>
      <h2>
       : ما الفائدة من البوت <span class="saqr-color-logo">فاذكروني</span>
      </h2>
      <p class="saqr-about">.البوت يذكرك بالله بإرسال الاذكار , الحديث او القران كل ساعة او المدة التي تقوم بتحديدها
        .يجب عليك بعد دعوة البوت تحديد روم لكي يبدا البوت بإرسال رسائل في الروم المحدد, البوت غير ربحي و اهدافه خالصه لله عز و جل
        </p>
    </div>
  </div>
</section>

<br><br>

<section class="main text div first">
  <div class="container">
    <div class="text-center">
    <h1 class="text-light display-4 pt-5 developers"><i class="fas fa-code"></i> فريق العمل</h1><br><br>
    <div class="row text-center row-cols-1 row-cols-md-3 g-5 info-maker">
      <div class="col-sm">
          <div class="card text-light mb-3 saqr-5 card-3">
          <div class="developers-1"></div>
              <div class="h1 mt-3 icon-1">
               <img class="img-fluid w-25 saqr-img lds-circle" src id="avatar-1">
              </div>
              <div class="card-body text-center">
                  <h6 class="card-title mb-3"><strong id="username-1"></strong></h6>
                  <p class="card-title saqr-color-logo mb-3 h3">مؤسس بوت</strong></p>
                </div>
          </div>
      </div>
      <div class="col-sm">
        <div class="card text-light mb-3 saqr-5 team-5 card-3">
          <div class="developers-1"></div>
            <div class="h1 mt-3 icon-1">
             <img class="img-fluid w-25 saqr-img" src id="avatar-2">
            </div>
            <div class="card-body text-center">
                <h6 class="card-title mb-3"><strong id="username-2"></strong></h6>
                <p class="card-title saqr-color-logo mb-3 h3">مؤسس ومطور ويب</strong></p>
              </div>
        </div>
    </div>
    <div class="col-sm">
      <div class="card text-light mb-3 saqr-5 card-3">
        <div class="developers-1"></div>
          <div class="h1 mt-3 icon-1">
           <img class="img-fluid w-25 saqr-img" src id="avatar-3">
          </div>
          <div class="card-body text-center">
              <h6 class="card-title mb-3"><strong id="username-3"></strong></h6>
              <p class="card-title saqr-color-logo mb-3 h3">مؤسس ومطور بوت</strong></p>
            </div>
      </div>
  </div>
  <div class="col-sm">
    <div class="card text-light mb-3 saqr-5 card-3">
      <div class="developers-1"></div>
        <div class="h1 mt-3 icon-1">
         <img class="img-fluid w-25 saqr-img" id="avatar-4">
        </div>
        <div class="card-body text-center">
            <h6 class="card-title mb-3"><strong id="username-4"></strong></h6>
            <p class="card-title saqr-color-logo mb-3 h3">مؤسس الاداره</strong></p>
          </div>
    </div>
</div>
<div class="col-sm">
  <div class="card text-light mb-3 saqr-5 card-3">
    <div class="developers-1"></div>
      <div class="h1 mt-3 icon-1">
       <img class="img-fluid w-25 saqr-img" src id="avatar-5">
      </div>
      <div class="card-body text-center">
          <h6 class="card-title mb-3"><strong id="username-5"></strong></h6>
          <p class="card-title saqr-color-logo mb-3 h3">مؤسس الاعلام</strong></p>
      </div>
  </div>
</div>
<div class="col-sm">
  <div class="card text-light mb-3 saqr-5 card-3">
    <div class="developers-1"></div>
      <div class="h1 mt-3 icon-1">
       <img class="img-fluid w-25 saqr-img" src id="avatar-6">
      </div>
      <div class="card-body text-center">
          <h6 class="card-title mb-3"><strong id="username-6"></strong></h6>
          <p class="card-title mb-3 h3 saqr-color-logo">مؤسس الدعم الفني</strong></p>

      </div>
  </div>
</div>
    </div>
  </div>
</section>
<br>
<!--  -->
<section class="main text div first">
  <div class="container">
    <div class="text-center">
      <h1 class="text-light display-4 pt-5 developers"><i class="fas fa-robot"></i> تاريخ برمجة البوت</h1><br><br>
      <div class="row text-center row-cols-1 row-cols-md-3 g-5 info-maker align-items-center justify-content-center">
        <div class="col-sm">
            <div class="card text-light mb-3 saqr-5 card-3">
            <div class="developers-1"></div>
                <div class="h1 mt-3 icon-1">
                 <img class="img-fluid w-25 saqr-img" src id="avatar-7">
                </div>
                <div class="card-body text-center">
                    <h6 class="card-title mb-3"><strong id="username-7"></strong></h6>
                    <p class="card-title saqr-color-logo mb-3 h3">4/7/2020</strong></p>
                  <button type="button" class="btn btn-outline-warning text-white">اضافة البوت</button>
                  </div>
            </div>
        </div>
  </div>
</section>
<!--  -->
</div>




<script>
    
  function closeNav() {
    document.getElementById("menu-slide").style.width = "0%";
  }
  async function user_1() {
              let user = await DiscordFetcher("277669327602188288", {
                  dynamic: true,
                  size: 1024,
                  format: "gif",
                  format: "png",
                  log: false,
              });
              document.getElementById("avatar-1").src = user.avatar.url;
              document.getElementById("username-1").innerHTML = user.tag
          }
  async function user_2() {
              let user = await DiscordFetcher("716783245387235410", {
                  dynamic: true,
                  size: 1024,
                  format: "gif",
                  format: "png",
                  log: false,
              });
              document.getElementById("avatar-2").src = user.avatar.url;
              document.getElementById("username-2").innerHTML = user.tag
          }
async function user_3() {
              let user = await DiscordFetcher("750376850768789534", {
                  dynamic: true,
                  size: 1024,
                  format: "gif",
                  format: "png",
                  log: false,
              });
              document.getElementById("avatar-3").src = user.avatar.url;
              document.getElementById("username-3").innerHTML = user.tag
          }
async function user_4() {
              let user = await DiscordFetcher("532696546462924820", {
                  dynamic: true,
                  size: 1024,
                  format: "gif",
                  format: "png",
                  log: false,
              });
              document.getElementById("avatar-4").src = user.avatar.url;
              document.getElementById("username-4").innerHTML = user.tag
          }
async function user_5() {
              let user = await DiscordFetcher("385701197069418496", {
                  dynamic: true,
                  size: 1024,
                  format: "gif",
                  format: "png",
                  log: false,
              });
              document.getElementById("avatar-5").src = user.avatar.url;
              document.getElementById("username-5").innerHTML = user.tag
          }
async function user_6() {
              let user = await DiscordFetcher("713387916054757437", {
                  dynamic: true,
                  size: 1024,
                  format: "gif",
                  format: "png",
                  log: false,
              });
              document.getElementById("avatar-6").src = user.avatar.url;
              document.getElementById("username-6").innerHTML = user.tag
          }
async function user_7() {
              let user = await DiscordFetcher("728782652454469662", {
                  dynamic: true,
                  size: 1024,
                  format: "gif",
                  format: "png",
                  log: false,
              });
              document.getElementById("avatar-7").src = user.avatar.url;
              document.getElementById("username-7").innerHTML = user.tag
          }
  user_1();
  user_2();
  user_3();
  user_4();
  user_5();
  user_6();
  user_7();
  </script>















<!-- min js -->
<script src="js/min.js"></script>
<!-- ------------------------ -->
  <hr class="container mx-auto">
    <!-- footer -->
<footer class="py-4 text-white text-center">
  <div class="container">
      <p class="lead ">
        جميع الحقوق محفوظة <span><a class="text-decoration-none h4 saqr-color-logo" href="https://discord.com/channels/@me/845033464357191691">فاذكروني </a></span> &copy; 2022 
      </p>
      <div class="social-icons text-decoration-none h4 m-2">
          <!-- <a href="https://twitter.com/SAQR_SUBAIE"><i class="fab fa-twitter"></i></a> -->
      </div>
  </div>
</footer>



<script>
  var preloader = document.getElementById("loading");

  function myFunction(){
      preloader.style.display = "none";
  }
</script>


</body>
</html>