{% extends 'base.html' %}

{% block content %}
<!-- <section class="bg-fdr py-5">
    <div class="container">
        <div class="text-center">
            <div class="card-body">
                <h2 class="card-text text-1 about-2">فاذكروني</h2>
            </div>
            <div class="about-3">
                <div class="card about">
                    <div class="card-body">
                        <h5 class="card-text text-1">بوت <b class="about-2">فاذكروني</b> اول بوت عربي اسلامي للاذكار و القران الكريم</h5>
                    </div>
                    </div>
            </div>
            <br><br><br>
        </div>
    </div>
</section> -->




<section class="py-5 text-center" dir="ltr">
    <div class="container">
        <div class="card">
            <div class="card-header" style="border-radius: 7px 7px 0px 0px var(--color2); background-color: var(--dark-section-bg-1); color: var(--color3);">
                <h1 class="card-title about-title">فاذكروني</h1>
            </div>
            <div class="card-body about">
                <h5 class="card-text about-description py-3 pb-3">بوت <b class="about-2">فاذكروني</b> اول بوت عربي اسلامي للاذكار و القران الكريم</h5>
            </div>
        </div>
    </div>
</section>





<hr>

<section class="py-5 text-center bg-fdr" dir="ltr">
    <div class="container">
        <div class="card">
            <div class="card-header" style="border-radius: 7px 7px 0px 0px var(--color2); background-color: var(--dark-section-bg-1); color: var(--color1);">
                <h1 class="card-title about-title">: ما الفائدة من البوت <b class="about-2">فاذكروني</b></h1>
            </div>
            <div class="card-body about">
                <h5 class="card-text about-description py-3 pb-3">.البوت يذكرك بالله بإرسال الاذكار , الحديث او القران كل ساعة او المدة التي تقوم بتحديدها .يجب عليك بعد دعوة البوت تحديد روم لكي يبدا البوت بإرسال رسائل في الروم المحدد, البوت غير ربحي و اهدافه خالصه لله عز و جل</h5>
            </div>
        </div>
    </div>
</section>

<!-- <section class="bg-fdr py-5">
    <div class="container">
        <div class="text-center">
            <div class="card-body">
                <h2 class="card-text text-1 about-2-1">: ما الفائدة من البوت <b class="about-2">فاذكروني</b></h2>
            </div>
            <div class="about-3">
                <div class="card about">
                    <div class="card-body">
                        <h6 class="card-text text-1">.البوت يذكرك بالله بإرسال الاذكار , الحديث او القران كل ساعة او المدة التي تقوم بتحديدها .يجب عليك بعد دعوة البوت تحديد روم لكي يبدا البوت بإرسال رسائل في الروم المحدد, البوت غير ربحي و اهدافه خالصه لله عز و جل</h6>
                    </div>
                    </div>
            </div>
            <br><br><br>
        </div>
    </div>
</section> -->

<hr>

<section class="py-5 text-center bg-fdr" dir="ltr">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header p-5" style="border-radius: 7px 7px 0px 0px var(--color2); background-color: var(--dark-section-bg-1); color: var(--color3);">
                <h1 class="card-title about-title"><i class="fas fa-code" aria-hidden="true"></i> فريق العمل</h1>
            </div>
            <div class="card-body about">

                <div class="row text-center row-cols-1 row-cols-md-3 g-3">
                    <div class="col-sm" id="card-animation">
                        <div class="card text-light mb-3 card-fdr">
                        <div class="card-outline-fdr"></div>
                        <div class="h1 mt-3"><br>
                            <img class="image w-50" src id="avatar-1">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title about-fdr username-1"></h4>
                            <p class="card-text text-light counter"><i class="fa-solid fa-id-card-clip"></i> ID :<strong id="id-1"></strong></p>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm" id="card-animation">
                        <div class="card text-light mb-3 card-fdr">
                        <div class="card-outline-fdr"></div>
                        <div class="h1 mt-3"><br>
                            <img class="image w-50" src id="avatar-2">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title about-fdr"><strong id="username-2"></strong></h4>
                            <p class="card-text text-light counter"><i class="fa-solid fa-id-card-clip"></i> ID :<strong id="id-2"></strong></p>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm" id="card-animation">
                        <div class="card text-light mb-3 card-fdr">
                        <div class="card-outline-fdr"></div>
                        <div class="h1 mt-3"><br>
                            <img class="image w-50" src id="avatar-3">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title about-fdr"><strong id="username-3"></strong></h4>
                            <p class="card-text text-light counter"><i class="fa-solid fa-id-card-clip"></i> ID :<strong id="id-3"></strong></p>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm" id="card-animation">
                        <div class="card text-light mb-3 card-fdr">
                        <div class="card-outline-fdr"></div>
                        <div class="h1 mt-3"><br>
                            <img class="image w-50" src id="avatar-4">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title about-fdr"><strong id="username-4"></strong></h4>
                            <p class="card-text text-light counter"><i class="fa-solid fa-id-card-clip"></i> ID :<strong id="id-4"></strong></p>
                        </div>
                        </div>
                    </div>


                    <div class="col-sm" id="card-animation">
                        <div class="card text-light mb-3 card-fdr">
                        <div class="card-outline-fdr"></div>
                        <div class="h1 mt-3"><br>
                            <img class="image w-50" src id="avatar-6">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title about-fdr"><strong id="username-6"></strong></h4>
                            <p class="card-text text-light counter"><i class="fa-solid fa-id-card-clip"></i> ID :<strong id="id-6"></strong></p>
                        </div>
                        </div>
                    </div>


                    </div>

            </div>
        </div>
    </div>
</section>

<!-- <section class="bg-fdr py-5">
    <div class="container">
        <div class="text-center">
            <div class="card-body">
                <h2 class="card-text text-1 about-2-1"><i class="fas fa-code" aria-hidden="true"></i> فريق العمل</h2>
            </div>
            <br><br><br>
            <div class="card-body">
                <div class="row text-center row-cols-1 row-cols-md-3 g-3">
                    <div class="col-sm" id="card-animation">
                        <div class="card text-light mb-3 card-fdr">
                        <div class="card-outline-fdr"></div>
                        <div class="h1 mt-3"><br>
                            <img class="image w-50" src id="avatar-1">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title about-fdr"><strong id="username-1"></strong></h4>
                            <p class="card-text text-light counter"><i class="fa-solid fa-id-card-clip"></i> ID :<strong id="id-1"></strong></p>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm" id="card-animation">
                        <div class="card text-light mb-3 card-fdr">
                        <div class="card-outline-fdr"></div>
                        <div class="h1 mt-3"><br>
                            <img class="image w-50" src id="avatar-2">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title about-fdr"><strong id="username-2"></strong></h4>
                            <p class="card-text text-light counter"><i class="fa-solid fa-id-card-clip"></i> ID :<strong id="id-2"></strong></p>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm" id="card-animation">
                        <div class="card text-light mb-3 card-fdr">
                        <div class="card-outline-fdr"></div>
                        <div class="h1 mt-3"><br>
                            <img class="image w-50" src id="avatar-3">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title about-fdr"><strong id="username-3"></strong></h4>
                            <p class="card-text text-light counter"><i class="fa-solid fa-id-card-clip"></i> ID :<strong id="id-3"></strong></p>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm" id="card-animation">
                        <div class="card text-light mb-3 card-fdr">
                        <div class="card-outline-fdr"></div>
                        <div class="h1 mt-3"><br>
                            <img class="image w-50" src id="avatar-4">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title about-fdr"><strong id="username-4"></strong></h4>
                            <p class="card-text text-light counter"><i class="fa-solid fa-id-card-clip"></i> ID :<strong id="id-4"></strong></p>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm" id="card-animation">
                        <div class="card text-light mb-3 card-fdr">
                        <div class="card-outline-fdr"></div>
                        <div class="h1 mt-5"><br>
                            <img class="image w-50" src id="avatar-4">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title about-fdr"><strong id="username-5"></strong></h4>
                            <p class="card-text text-light counter"><i class="fa-solid fa-id-card-clip"></i> ID :<strong id="id-5"></strong></p>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm" id="card-animation">
                        <div class="card text-light mb-3 card-fdr">
                        <div class="card-outline-fdr"></div>
                        <div class="h1 mt-3"><br>
                            <img class="image w-50" src id="avatar-6">
                        </div>
                        <div class="card-body text-center">
                            <h4 class="card-title about-fdr"><strong id="username-6"></strong></h4>
                            <p class="card-text text-light counter"><i class="fa-solid fa-id-card-clip"></i> ID :<strong id="id-6"></strong></p>
                        </div>
                        </div>
                    </div>


                    </div>
            </div>
            <br><br><br>
        </div>
    </div>
</section> -->


<script src="http://lib.noon-lib.site/ziker-bot/avatar.js"></script>



<!-- <script src="https://unpkg.com/discord-fetcher@1.0.3/index.min.js">
    
async function user_1() {
            let user = await DiscordFetcher("277669327602188288", {
                dynamic: true,
                size: 1024,
                format: "gif",
                format: "png",
                log: false,
            });
            document.getElementById("avatar-1").src = user.avatar.url;
            document.getElementById("username-1").innerHTML = user.tag
        }
async function user_2() {
            let user = await DiscordFetcher("716783245387235410", {
                dynamic: true,
                size: 1024,
                format: "gif",
                format: "png",
                log: false,
            });
            document.getElementById("avatar-2").src = user.avatar.url;
            document.getElementById("username-2").innerHTML = user.tag
        }
async function user_3() {
            let user = await DiscordFetcher("750376850768789534", {
                dynamic: true,
                size: 1024,
                format: "gif",
                format: "png",
                log: false,
            });
            document.getElementById("avatar-3").src = user.avatar.url;
            document.getElementById("username-3").innerHTML = user.tag
        }
async function user_4() {
            let user = await DiscordFetcher("532696546462924820", {
                dynamic: true,
                size: 1024,
                format: "gif",
                format: "png",
                log: false,
            });
            document.getElementById("avatar-4").src = user.avatar.url;
            document.getElementById("username-4").innerHTML = user.tag
        }
async function user_5() {
            let user = await DiscordFetcher("385701197069418496", {
                dynamic: true,
                size: 1024,
                format: "gif",
                format: "png",
                log: false,
            });
            document.getElementById("avatar-5").src = user.avatar.url;
            document.getElementById("username-5").innerHTML = user.tag
        }
async function user_6() {
            let user = await DiscordFetcher("713387916054757437", {
                dynamic: true,
                size: 1024,
                format: "gif",
                format: "png",
                log: false,
            });
            document.getElementById("avatar-6").src = user.avatar.url;
            document.getElementById("username-6").innerHTML = user.tag
        }
async function user_7() {
            let user = await DiscordFetcher("728782652454469662", {
                dynamic: true,
                size: 1024,
                format: "gif",
                format: "png",
                log: false,
            });
            document.getElementById("avatar-7").src = user.avatar.url;
            document.getElementById("username-7").innerHTML = user.tag
        }
user_1();
user_2();
user_3();
user_4();
user_5();
user_6();
user_7();

</script> -->

{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}