{% extends 'base.html' %}

{% block stats_for_login %}
<ul class="navbar-nav ml-auto text-center" dir="ltr">
    <div class="btn-group d-block me-lg-1 mx-lg-1" role="group">
        <button id="users" type="button" class="btn primary dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="https://cdn.discordapp.com/avatars/716783245387235410/4e1581b67a4e10269da668db41716590.png?size=1024"
                width="28" height="28" class="ims"> <b>S A Q R</b>
        </button>
        <ul class="dropdown-menu saqrs" aria-labelledby="users">
            <li class="nav-item"><a class="dropdown-item text-center primary" href="/dashboard">السيرفرات</a></li>
            {% if is_admin %}
            <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin.html">لوحة الادمن</a></li>
            <li class="nav-item"><a class="dropdown-item text-center primary" href="/logs.html">السجلات</a></li>
            {% endif %}
            <li class="nav-item"><a class="dropdown-item text-center primary red" href="/login">تسجيل خروج</a></li>
        </ul>
    </div>
</ul>
{% endblock %}

{% block content %}


<div class="hero">
    <div class="container">
        <div class="text-center">
            <i class="fa-solid fa-triangle-exclamation fa-7x error-2" aria-hidden="true"></i><br><br>
            <div class="error-1">
                <div class="card error">
                    <div class="card-body">
                        <h2 class="card-text text-1"><i class="fa-solid fa-triangle-exclamation"></i> لا اصططيع العثور على السيرفر</h2>
                    </div>
                </div>
            </div>
            <br><br><br>
        </div>
    </div>
</div>


{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}