{% extends 'base.html' %}

{% block stats_for_login %}
<ul class="navbar-nav ml-auto text-center" dir="ltr">
  <div class="btn-group d-block me-lg-1 mx-lg-1" role="group">
    <button id="users" type="button" class="btn primary dropdown-toggle" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="https://cdn.discordapp.com/avatars/716783245387235410/4e1581b67a4e10269da668db41716590.png?size=1024"
        width="28" height="28" class="image"> <b>S A Q R</b>
    </button>
    <ul class="dropdown-menu saqrs" aria-labelledby="users">
      <li class="nav-item"><a class="dropdown-item text-center primary" href="/dashboard">السيرفرات</a></li>
      {% if is_admin %}
      <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin">لوحة الادمن</a></li>
      <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin/logs">السجلات</a></li>
      {% endif %}
      <li class="nav-item"><a class="dropdown-item text-center primary red" href="/logout">تسجيل خروج</a></li>
    </ul>
  </div>
</ul>
{% endblock %}

{% block content %}

<div class="container py-5"></div>

<section class="py-5 text-center">
    <div class="container">
        <div class="card">
            <div class="card-header" style="border-radius: 7px 7px 0px 0px; background-color: var(--color3); color: var(--color1);">
                <h1>إستعلام عن سيرفر</h1>
            </div>
            <div class="card-body" style="background-color: var(--dark-section-bg-1); color: var(--color1);">
                <div class="mb-3 row">
                    <label for="botId" class="col-sm-2 col-form-label">ايدي سيرفر</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="الايدي من 18 رقم !" class="form-control bot_2 guild_id" id="botId" maxlength="18" value="">
                    </div>
                    <br>
                </div>
                <div class="text-center">
                    <button class="bot_1 btn btn-danger btn-lg info"> <svg class="svg-inline--fa fa-info" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" data-fa-i2svg=""><path fill="currentColor" d="M160 448h-32V224c0-17.69-14.33-32-32-32L32 192c-17.67 0-32 14.31-32 32s14.33 31.1 32 31.1h32v192H32c-17.67 0-32 14.31-32 32s14.33 32 32 32h128c17.67 0 32-14.31 32-32S177.7 448 160 448zM96 128c26.51 0 48-21.49 48-48S122.5 32.01 96 32.01s-48 21.49-48 48S69.49 128 96 128z"></path></svg><!-- <i class="fas fa-info"></i> Font Awesome fontawesome.com --> إستعلام عن سيرفر</button>
                </div>
            </div>

            <!-- if found a server -->
            <div class="card-body guild-info d-none" style="background-color: var(--dark-section-bg-1); color: var(--color1);">
                <div class="row text-center row-cols-1 row-cols-md-1 g-3">

                    <div class="col-sm">
                        <div class="card text-light mb-3 card-fdr">
                            <div class="card-outline-fdr"></div>
                            <div class="d-flex text-start p-3 text-light">
                                <i class="fa-solid fa-server h1 verify"></i>
                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <img style="width: 200px; height: 200px; border-radius: 50%; border: 1px solid;" src="https://cdn.discordapp.com/icons/547436115741900801/a_90d8c6373b0d8637bcd743239f00e90e.gif?size=1024">
                                </div>
                                <h1 class="card-title text-center"><strong class="strtt" id="username-1">oCMz</strong></h1>
                                <div dir="ltr" class="form-floating">
                                    <textarea dir="ltr" class="form-control bot_2" id="floatingTextarea2" style="height: 100px; background-color: #10131e; border: 1px solid #437baf;" readonly="">
SERVER GUILD ID: 841773880230150154
SERVER NAME: oCMz
SERVER Owner: oCMz#1111
                                    </textarea>
                                    <label for="floatingTextarea2">SERVER INFO</label>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn primary btn-lg me-2 mx-2">تعديل البوت كمساول</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->

            <!-- if not found a server -->
            <div class="d-none not-found">
                <div class="container">
                    <div class="text-center">
                        <i class="fa-solid fa-triangle-exclamation fa-7x error-2" aria-hidden="true"></i><br><br>
                        <div class="error-1">
                            <div class="card error">
                                <div class="card-body">
                                    <h2 class="card-text text-1"><i class="fa-solid fa-triangle-exclamation"></i> الخادم المطلوب غير موجود</h2>
                                </div>
                            </div>
                        </div>
                        <br><br><br>
                    </div>
                </div>
            </div>
            <!--  -->

        </div>
    </div>
</section>

<!-- 
<div class="bg-fdr">
    <div class="container">
        <div class="text-center">
            <i class="fa-solid fa-triangle-exclamation fa-7x error-2" aria-hidden="true"></i><br><br>
            <div class="error-1">
                <div class="card error">
                    <div class="card-body">
                        <h2 class="card-text text-1"><i class="fa-solid fa-triangle-exclamation"></i> لا اصططيع العثور على السيرفر</h2>
                    </div>
                </div>
            </div>
            <br><br><br>
        </div>
    </div>
</div>
 -->


<div class="container py-5"></div>


<section class="bot_4">
    <div id="error"
        style="border: none!important; background-color: var(--dark-section-bg-1); color: var(--color1);"
        class="card bot_8">
        <div style="background-color: var(--color3); border-radius: 7px 7px 0px 0px;"
            class="card-header text-center">
            <h1>معلومات البوت</h1>
        </div>
        <div class="card-body bot_5">
            <br>
            <section id="fdrbot">
                <input type="file" id="imguploawd" style="display:none">
                <div class="card bot_6" style="width: 11rem; margin-right: 35px; margin-top: -20px;">
                    <img id="photoPreview"
                        src="https://cdn.discordapp.com/attachments/854381955511746600/938683781504708658/Picsart_22-02-03_09-33-52-784.png"
                        class="card-img-top" style="width: auto; height: auto;" alt="صورة البوت">
                </div>
                <div class="card bot_7" style="margin-right: 35px; margin-top: -20px; width: auto;">
                    <div class="card-body">
                        <div class="mb-3" disabled>
                            <label class="form-label" disabled>اسم البوت</label>
                            <input type="text" placeholder="اسم البوت" value="فاذكروني" class="form-control "
                                id="botId" maxlength="18" disabled>
                            <div class="form-text">اسم البوت لايجب ان يكون اطول من 30 حرف!</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">حالة البوت</label>
                            <input type="text" placeholder="حالة البوت" value="/help - fdrbot.xyz"
                                class="form-control bot_2" id="botId" maxlength="18">
                            <div class="form-text">حالة البوت لايجب ان يكون اطول من 20 حرف!</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">حالة البوت</label><br>

                            <div class="form-check form-check-inline h5">
                                <input class="form-check-input online" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label form-text" for="inlineRadio1">Online</label>
                            </div>
                            <div class="form-check form-check-inline h5">
                                <input class="form-check-input idle" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label form-text" for="inlineRadio2">Idle</label>
                            </div>
                            <div class="form-check form-check-inline h5">
                                <input class="form-check-input dnd" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" checked>
                                <label class="form-check-label form-text" for="inlineRadio3">Do Not Disturb</label>
                            </div>
                            <div class="form-check form-check-inline h5">
                                <input class="form-check-input offline" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                                <label class="form-check-label form-text" for="inlineRadio4">Offline</label>
                            </div>
                            <div class="form-text">قم اختيار الحاله المناسبه</div>
                            
                        </div>
                        <div class="card-footer">
                            <button class="bot_1 btn text-white w-100"> <i class="fas fa-save"></i>حفظ</button><br><br>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


<div class="container py-5"></div>

{% endblock %}

{% block js %}

<script>
    function show_guild_info() {
        console.log($("guild_id"));
        var guild_id = parseInt(document.getElementsByClassName("guild_id")[0].value);
        $.ajax({
            method: "GET",
            url: `http://127.0.0.1:8080/get_guild/${guild_id}/info`,
            success: function (data) {
                console.log(data)
                if (data.guild) {
                    console.log("ss")
                    $(".guild-info").removeClass("d-none");
                    const guild = data.guild;
                    document.getElementById("floatingTextarea2").innerHTML = `
SERVER ID: ${guild._id}
SERVER NAME: ${guild.anti_spam}
                    `;
                } else {
                    // $(".guild-info").removeClass("d-block");
                    // $(".guild-info").addClass("d-none");
                }
            }
        })
        document.getElementsByClassName("guild-info")[0].classList.toggle("d-none");
        document.getElementsByClassName("not-found")[0].classList.toggle("d-none");
    }

    document.querySelector("button.info").addEventListener("click", show_guild_info);
</script>

{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}