{% extends 'base.html' %}

{% block stats_for_login %}
<ul class="navbar-nav ml-auto text-center" dir="ltr">
    <div class="btn-group d-block me-lg-1 mx-lg-1" role="group">
        <button id="users" type="button" class="btn primary dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="https://cdn.discordapp.com/avatars/716783245387235410/4e1581b67a4e10269da668db41716590.png?size=1024"
                width="28" height="28" class="ims"> <b>S A Q R</b>
        </button>
        <ul class="dropdown-menu saqrs" aria-labelledby="users">
            <li class="nav-item"><a class="dropdown-item text-center primary" href="/dashboard">السيرفرات</a></li>
            {% if is_admin %}
            <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin.html">لوحة الادمن</a></li>
            <li class="nav-item"><a class="dropdown-item text-center primary" href="/logs.html">السجلات</a></li>
            {% endif %}
            <li class="nav-item"><a class="dropdown-item text-center primary red" href="/login">تسجيل خروج</a></li>
        </ul>
    </div>
</ul>
{% endblock %}

{% block content %}


<div class="hero">
    <div class="container">
        <div class="text-center">
            <i class="fa-solid fa-triangle-exclamation fa-7x error-2" aria-hidden="true"></i><br><br>
            <div class="error-1">
                <div class="card error">
                    <div class="card-body">
                        <h2 class="card-text text-1"><i class="fa-solid fa-triangle-exclamation"></i> لا اصططيع العثور على السيرفر</h2>
                    </div>
                </div>
            </div>
            <br><br><br>
        </div>
    </div>
</div>


















<section class="bot_4">
    <div id="error"
        style="border: none!important; background-color: var(--dark-section-bg-1); color: var(--color1);"
        class="card bot_8">
        <div style="background-color: var(--color3); border-radius: 7px 7px 0px 0px;"
            class="card-header text-center">
            <h1>معلومات البوت</h1>
        </div>
        <div class="card-body bot_5">
            <br>
            <section id="fdrbot">
                <input type="file" id="imguploawd" style="display:none">
                <div class="card bot_6" style="width: 11rem; margin-right: 35px; margin-top: -20px;">
                    <img id="photoPreview"
                        src="https://cdn.discordapp.com/attachments/854381955511746600/938683781504708658/Picsart_22-02-03_09-33-52-784.png"
                        class="card-img-top" style="width: auto; height: auto;" alt="صورة البوت">
                </div>
                <div class="card bot_7" style="margin-right: 35px; margin-top: -20px; width: auto;">
                    <div class="card-body">
                        <div class="mb-3" disabled>
                            <label class="form-label" disabled>اسم البوت</label>
                            <input type="text" placeholder="اسم البوت" value="فاذكروني" class="form-control "
                                id="botId" maxlength="18" disabled>
                            <div class="form-text">اسم البوت لايجب ان يكون اطول من 30 حرف!</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">حالة البوت</label>
                            <input type="text" placeholder="حالة البوت" value="/help - fdrbot.xyz"
                                class="form-control bot_2" id="botId" maxlength="18">
                            <div class="form-text">حالة البوت لايجب ان يكون اطول من 20 حرف!</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">حالة البوت</label><br>

                            <div class="form-check form-check-inline h5">
                                <input class="form-check-input online" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label form-text" for="inlineRadio1">Online</label>
                            </div>
                            <div class="form-check form-check-inline h5">
                                <input class="form-check-input idle" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label form-text" for="inlineRadio2">Idle</label>
                            </div>
                            <div class="form-check form-check-inline h5">
                                <input class="form-check-input dnd" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" checked>
                                <label class="form-check-label form-text" for="inlineRadio3">Do Not Disturb</label>
                            </div>
                            <div class="form-check form-check-inline h5">
                                <input class="form-check-input offline" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                                <label class="form-check-label form-text" for="inlineRadio4">Offline</label>
                            </div>
                            <div class="form-text">قم اختيار الحاله المناسبه</div>
                            
                        </div>
                        <div class="card-footer">
                            <button class="bot_1 btn text-white w-100"> <i class="fas fa-save"></i>حفظ</button><br><br>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>



<script>
    function show_guild_info() {
        $.ajax({
            method: "GET",
            url: "https://api.fdrbot.xyz/guild/info",
            data: {
                guild_id: $("#guild_id").val()
            },
            success: function (data) {
                if (data.status == "success") {
                    $(".guild-info").removeClass("d-none");
                    $(".guild-info").addClass("d-block");
                    $(".guild-info").html(data.html);
                } else {
                    $(".guild-info").removeClass("d-block");
                    $(".guild-info").addClass("d-none");
                }
            }
        })
        document.getElementsByClassName("guild-info")[0].classList.toggle("d-none");
    }

    document.querySelector("button.info").addEventListener("click", show_guild_info);
</script>

{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}