{% extends 'base.html' %}

{% block stats_for_login %}
<ul class="navbar-nav ml-auto text-center" dir="ltr">
    <div class="btn-group d-block me-lg-1 mx-lg-1" role="group">
        <button id="users" type="button" class="btn primary dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="{{ user.avatar }}" width="28" height="28" class="image"> <b>{{ user.username }}</b>
        </button>
        <ul class="dropdown-menu saqrs" aria-labelledby="users">
            <li class="nav-item"><a class="dropdown-item text-center primary" href="/dashboard">السيرفرات</a></li>
            <li>
                <hr class="dropdown-divider bg-light">
            </li>
            <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin">لوحة الادمن</a></li>
            <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin/suggestions">السجلات الاقتراحات</a></li>
            <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin/logs">السجلات</a></li>
            <li>
                <hr class="dropdown-divider bg-light">
            </li>
            <li class="nav-item"><a class="dropdown-item text-center primary red" href="/logout">تسجيل خروج</a></li>
        </ul>
    </div>
</ul>
{% endblock %}

{% block content %}

<div class="container py-5"></div>


<section class="py-5 text-center">
    <div class="container">
        <div class="card">
            <div class="card-header"
                style="border-radius: 7px 7px 0px 0px; background-color: var(--color3); color: var(--color1);">
                <h1>اضافة ذكر</h1>
            </div>
            <div class="card-body" style="background-color: var(--dark-section-bg-1); color: var(--color1);">
                <div class="mb-3 row">
                    <label for="botId" class="col-sm-2 col-form-label">اضافة ذكر</label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="اضافة ذكر من 300 حرف !"
                            class="form-control bot_2 guild-id-input" id="botId" maxlength="300" value="" required>
                    </div>
                    <br>
                </div>
                <div class="text-center">
                    <button class="bot_1 btn btn-danger btn-lg info-search">
                        <!--<svg class="svg-inline--fa fa-info" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" data-fa-i2svg=""><path fill="currentColor" d="M160 448h-32V224c0-17.69-14.33-32-32-32L32 192c-17.67 0-32 14.31-32 32s14.33 31.1 32 31.1h32v192H32c-17.67 0-32 14.31-32 32s14.33 32 32 32h128c17.67 0 32-14.31 32-32S177.7 448 160 448zM96 128c26.51 0 48-21.49 48-48S122.5 32.01 96 32.01s-48 21.49-48 48S69.49 128 96 128z"></path></svg> -->
                        اضافة ذكر <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </button>
                </div>
            </div>

            <div class="not-found">
                <div class="container">
                    <div class="text-center">
                        <div class="card-body">
                            <div class="card-body"
                                style="background-color: var(--dark-section-bg-1); color: var(--color1);">

                                <div class="col p-2">
                                    <div class="card cmd m-1">
                                        <div class="card-body pb-4">
                                            <p class="card-text cmd-2 float-end">سبحان الله وبحمدهِ عدد خلقهِ ورضى نفسه
                                                وزنة عرشه ومداد كلماته.</p>
                                            <button class="btn text-white float-start edit" type="button" role="switch"
                                                id="flexSwitchCheckChecked"><i
                                                    class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col p-2">
                                    <div class="card cmd m-1">
                                        <div class="card-body pb-4">
                                            <p class="card-text cmd-2 float-end">يارب سخر لي الارض ومن عليها والسماء ومن
                                                فيها</p>
                                            <button class="btn text-white float-start edit" type="button" role="switch"
                                                id="flexSwitchCheckChecked"><i
                                                    class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col p-2">
                                    <div class="card cmd m-1">
                                        <div class="card-body pb-4">
                                            <p class="card-text cmd-2 float-end">أحب الكلام إلى الله أربعٌ: سبحان الله،
                                                والحمد لله، ولا إله إلا الله، والله أكبر، لا يضرك بأيهن بدأت</p>
                                            <button class="btn text-white float-start edit" type="button" role="switch"
                                                id="flexSwitchCheckChecked"><i
                                                    class="fa-solid fa-pen-to-square"></i></button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav aria-label="Page navigation example" dir="ltr" style="background-color: var(--dark-section-bg-1); color: var(--color1);">
                <ul class="pagination justify-content-center" style="background-color: var(--dark-section-bg-1); color: var(--color1);">
                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>

        </div>
    </div>
</section>


{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}