<!DOCTYPE html>
<html lang="en">

<head>
    <title>فاذكروني{% if title %} - {{ title }}{% endif %}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/forever.ico') }}">
    <!-- style css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FED302">
    <meta name="og:image" content="{{ url_for('static', filename='images/forever.ico') }}">
    <meta name="og:title" content="فاذكروني">
    <meta property="og:site_name" content="بوت فاذكروني">
    <meta name="description" content="بوت فاذكروني اول بوت عربي اسلامي للاذكار و القران الكريم">
    <meta name="og:url" content="https://fdrbot.xyz/">
    <meta property="og:locale" content="ar-SA">
    <meta name="og:description" content="بوت فاذكروني اول بوت عربي اسلامي للاذكار و القران الكريم">
    <meta name="twitter:card" content="summary">

</head>

<body dir="rtl">
    <!--  -->
    <nav class="py-4">
        <div class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
            <div class="container saqr">
                <a href="/" class="navbar-brand d-lg-none d-block" id="male-1"><img
                        src="{{ url_for('static', filename='images/forever.ico') }}"
                        alt="" width="50" height="50"></a>
                <hr>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu">
                    <i class="fa-solid fa-bars" id="SAQR"></i>
                </button>
                <div class="collapse navbar-collapse text-center" id="mainmenu">
                    <ul class="navbar-nav nav-pillsnav navbar-nav ml-auto w-100 justify-content-center nav-pills">
                        <li class="nav-item me-2 pe-3"><a href="/" class="nav-link">الرئيسية</a></li>
                        <li class="nav-item me-2 pe-3"><a href="/about" class="nav-link">حول</a></li>
                        <li class="nav-item me-2 pe-3"><a href="/#Services" class="nav-link">خدمات</a></li>
                    </ul>
                    <a href="/" class="navbar-brand d-none d-lg-block" id="male-1"><img
                            src="{{ url_for('static', filename='images/forever.ico') }}"
                            alt="" width="50" height="50"></a>
                    <ul class="navbar-nav nav-pillsnav navbar-nav ml-auto w-100 justify-content-center nav-pills">
                        <li class="nav-item me-2 pe-3"><a href="/commands" class="nav-link">الاوامر</a></li>
                        <li class="nav-item me-2"><a href="/invite" target="_blank" class="nav-link">أضف البوت</a></li>
                        <li class="nav-item me-2"><a href="/support" target="_blank" class="nav-link">سيرفر الدعم</a></li>

                        {% block stats_for_login %}{% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% block content %} {% endblock %}

    {% block footer %}
    <footer class="py-5 bg-dark">
        <div class="col-sm">
            <div class="card-footer">
                <h1 class="card-title fdraduot text-center h5">جميع الحقوق محفوظة لـ فريق فاذكروني بوت للبرمجة</h1>
            </div>
        </div>
    </footer>

    <!-- style js -->
    <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>
{% endblock %}