{% extends 'base.html' %}


{% block content %}

<div class="all text first div">  


<!-- <section class="bg-fdr">
    <div class="container">
        <div class="text-center">
            <i class="fa-solid fa-triangle-exclamation fa-7x error-2" aria-hidden="true"></i><br><br>
            <div class="error-1">
                <div class="card error">
                    <div class="card-body">
                        <h2 class="card-text text-1"><i class="fa-solid fa-triangle-exclamation"></i> يتم العمل على هاذا الصفحه</h2>
                    </div>
                    </div>
            </div>
            <br><br><br>
        </div>
    </div>
</section> -->







<!-- 
<section class="py-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center flex-row-reverse">
            <h1 class="text-white text-center title"><i class="fa-solid fa-shield icon-1"></i> Moderation : <a href="/guild" class="btn primary-1 text-light">back</a></h1>
        </div>
        
        <div class="row row-cols-1 row-cols-md-1 g-1">

            <div class="col">
                <div class="card bg-dark m-1">
                    <div class="card-header pb-4">
                        <h1 class="set text-light d-inline-flex h1">/ban</h1><br>
                        <button type="button" class="btn btn-outline-light float-end ssss text-center justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#ban">Edit</button>
                        <div class="form-check form-switch float-end h3 m-0 p-0 ssss text-center justify-content-center align-items-center">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        </div>
                        <p class="h6 sfsf">bans a member.</p>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> -->



<div class="container py-5 d-lg-none d-block"></div>
<div class="container py-3 d-lg-none d-block"></div>


<section class="py-5 text-center" dir="ltr">
    <div class="container">
        <div class="card">
            <div class="card-header" style="border-radius: 7px 7px 0px 0px; background-color: var(--color3); color: var(--color1);">
                <h1>اوامر البوت</h1>
            </div>
            <div class="card-body" style="background-color: var(--dark-section-bg-1); color: var(--color1);">

                <div class="col p-2">
                    <div class="card cmd m-1">
                        <div class="card-body pb-4">
                            <h3 class="card-title cmd-1 float-start"><code>/help</code></h3>
                            <p class="card-text cmd-2 float-end">يظهر لك الاوامر</p>
                        </div>
                    </div>
                </div>

                <div class="col p-2">
                    <div class="card cmd m-1">
                        <div class="card-body pb-4">
                            <h3 class="card-title cmd-1 float-start"><code>/help</code></h3>
                            <p class="card-text cmd-2 float-end">يظهر لك الاوامر</p>
                        </div>
                    </div>
                </div>

                <div class="col p-2">
                    <div class="card cmd m-1">
                        <div class="card-body pb-4">
                            <h3 class="card-title cmd-1 float-start"><code>/help</code></h3>
                            <p class="card-text cmd-2 float-end">يظهر لك الاوامر</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card-header" style="border-radius: 7px 7px 0px 0px; background-color: var(--color3); color: var(--color1);">
                <h1>اوامر الاداره</h1>
            </div>
            <div class="card-body" style="background-color: var(--dark-section-bg-1); color: var(--color1);">

                <div class="col p-2">
                    <div class="card cmd m-1">
                        <div class="card-body pb-4">
                            <h3 class="card-title cmd-1 float-start"><code>/help</code></h3>
                            <p class="card-text cmd-2 float-end">يظهر لك الاوامر</p>
                        </div>
                    </div>
                </div>

                <div class="col p-2">
                    <div class="card cmd m-1">
                        <div class="card-body pb-4">
                            <h3 class="card-title cmd-1 float-start"><code>/help</code></h3>
                            <p class="card-text cmd-2 float-end">يظهر لك الاوامر</p>
                        </div>
                    </div>
                </div>

                <div class="col p-2">
                    <div class="card cmd m-1">
                        <div class="card-body pb-4">
                            <h3 class="card-title cmd-1 float-start"><code>/help</code></h3>
                            <p class="card-text cmd-2 float-end">يظهر لك الاوامر</p>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</section>




{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}