
{% extends 'base.html' %}

{% block stats_for_login %}
<li class="nav-item">
  <a href="/dashboard" class="nav-link">
    <button class="btn btn-outline-warning text-white c" type="submit">
      لوحة التحكم
    </button>
  </a>
</li>
{% endblock %}

{% block content %}

<div class="all text first div">  

<section class="text-white py-5 all text first div">
  <div class="container">
    <h2 class="text-center mb-5 title">
      الاوامر بوت <span class="saqr-color-logo">فاذكروني</span>
    </h2>
    <div class="text-center align-items-center justify-content-center">
      <p>
        <a class="btn btn-outline-white saqr-y text-white text-1 text-1-1 cmd" data-bs-toggle="collapse" href="#collapseExample-1" role="button" aria-expanded="false" aria-controls="collapseExample">
          <code>/help</code>
        </a>
      </p>
      <div class="collapse" id="collapseExample-1">
        <div class="card-body text-1 text-1-1 text-white cmd cmd-1">
          <code>/help</code> - أرسل هذا الرسالة للحصول على مساعدة
        </div>
      </div>
    </div>
</div>
</section>
</div>


{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}