{% extends 'base.html' %}

{% block stats_for_login %}
<ul class="navbar-nav ml-auto text-center" dir="ltr">
  <div class="btn-group d-block me-lg-1 mx-lg-1" role="group">
    <button id="users" type="button" class="btn primary dropdown-toggle" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="{{ user.avatar }}"
        width="28" height="28" class="image"> <b>{{ user.username }}</b>
    </button>
    <ul class="dropdown-menu saqrs" aria-labelledby="users">
      <li class="nav-item"><a class="dropdown-item text-center primary" href="/dashboard">السيرفرات</a></li>
      {% if is_admin %}
      <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin">لوحة الادمن</a></li>
      <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin/logs">السجلات</a></li>
      {% endif %}
      <li class="nav-item"><a class="dropdown-item text-center primary red" href="/logout">تسجيل خروج</a></li>
    </ul>
  </div>
</ul>
{% endblock %}

{% block content %}
<!--  --><br><br>
<section class="py-5">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center flex-row-reverse" dir="rtl">
      <!-- dont forget name for user -->
      <h1 class="text-white text-center title">يا هلا والله فيك, {{ user.username }}</h1>
    </div>

    <div class="row text-center row-cols-1 row-cols-md-3 g-3">
      {% for guild in available_guilds %}

      <div class="col  text-center">
        <div class="card h-75 card-1">
          <div class="card-body">
            {% if guild.is_icon %}
            <div class="sc-1vemdld-4 banner"
              style="background: url('{{ guild.icon }}') center center / cover no-repeat;"></div>
            {% else %}
            <div class="sc-1vemdld-4 banner"
              style="background: url('{{ url_for('static', filename='images/banner.jpg') }}') center center / cover no-repeat;background-size: 100%">
            </div>
            {% endif %}
            <img src="{{ guild.icon }}"
              class="avatar-server justify-content-center align-items-center w-50 avalidated"
              alt="{{ guild.name }}">
          </div>
        </div>
        <div class="pt-2">
          <small class="text-muted float-end">{{ guild.name }}
            <!-- <br><b class="text-muted float-end">ادمن</b> -->
          </small>
          <a href="/dashboard/{{ guild.id }}"><button class="btn primary card-title float-start pe-3 px-3 pt-2 pb-2 saqr-but">تحكم</button></a>
        </div>
      </div>
      {% endfor %}
    </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center flex-row-reverse" dir="rtl">
      <!-- dont forget name for user -->
      <h1 class="text-white text-center title">الخوادم غير المتاحه</h1>
    </div>

    <div class="row text-center row-cols-1 row-cols-md-3 g-3">
      {% for guild in unavailable_guilds %}
      <div class="col  text-center">
        <div class="card h-75 card-1">
          <div class="card-body">
            {% if guild.is_icon %}
            <div class="sc-1vemdld-4 banner"
              style="background: url('{{ guild.icon }}') center center / cover no-repeat;"></div>
            {% else %}
            <div class="sc-1vemdld-4 banner"
              style="background: url('{{ url_for('static', filename='images/banner.jpg') }}') center center / cover no-repeat;background-size: 100%">
            </div>
            {% endif %}
            <img src="{{ guild.icon }}"
              class="avatar-server justify-content-center align-items-center w-50 unvalidated"
              alt="{{ guild.name }}">
          </div>
        </div>
        <div class="pt-2">
          <small class="text-muted float-end">{{ guild.name }}
          </small>
          <a href="https://discord.com/oauth2/authorize?client_id=826712661844164609&permissions=8&scope=bot%20applications.commands&guild_id={{ guild.id }}&disable_guild_select=false" target="_blank"><button class="btn primary card-title float-start pe-3 px-3 pt-2 pb-2 button-fdr"> إضافه البوت</button></a>
        </div>
      </div>
      {% endfor %}
    </div>
</section>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}