{% extends 'base.html' %}

{% block stats_for_login %}
<ul class="navbar-nav ml-auto text-center" dir="ltr">
<div class="btn-group d-block me-lg-1 mx-lg-1" role="group">
    <button id="users" type="button" class="btn primary dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="{{ user.avatar }}"
        width="28" height="28" class="image"> <b>{{ user.username }}</b>
    </button>
    <ul class="dropdown-menu saqrs" aria-labelledby="users">
        <li class="nav-item"><a class="dropdown-item text-center primary" href="/dashboard">السيرفرات</a></li>
        {% if is_admin %}
        <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin">لوحة الادمن</a></li>
        <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin/logs">السجلات</a></li>
        {% endif %}
        <li class="nav-item"><a class="dropdown-item text-center primary red" href="/logout">تسجيل خروج</a></li>
    </ul>
</div>
</ul>
{% endblock %}

{% block content %}


<div class="all text first div">

    <section class="py-5 text-white text first div">
        <div class="container">

            <div class="row row-cols-1 row-cols-md-3 g-1">

                <!-- Setup channel -->
                <div class="col update">
                    <div class="card bg-dark m-1">
                        <div class="card-body">
                            <h1 class="set text-light text-center">تحديد روم للاذكار</h1>
                        </div>
                        <div class="card-footer">
                            <select class="form-select form-select-sm channel_id" aria-label=".form-select-sm example">
                                <option selected value="0">اختر ..</option>
                                {% for channel in text_channels %}
                                    {% if channel.id == info.channel %}
                                        <option value="{{ channel.id }}" class="text-start" selected>#{{ channel.name }}
                                        </option>
                                    {% else %}}
                                        <option value="{{ channel.id }}" class="text-start">#{{ channel.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Setup qurau role channel -->
                <div class="col update">
                    <div class="card bg-dark m-1 mb-3">
                        <div class="card-body">
                            <h1 class="set text-light text-center">تحديد رتبه للقران الكربم</h1>
                        </div>
                        <div class="card-body">
                            <select class="form-select form-select-sm role_id" aria-label=".form-select-sm example">
                                <option selected value="0">اختر ..</option>
                                {% for role in roles %}
                                    {% if role.name == '@everyone' %}
                                    {% else %}
                                        {% if role.id == info.role_id %}
                                            <option value="{{ role.id }}" class="text-start" selected>@{{ role.name }}</option>
                                        {% else %}
                                            <option value="{{ role.id }}" class="text-start">@{{ role.name }}</option>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col update">
                    <div class="card bg-dark m-1 maintenance">
                        <div class="card-body">
                            <h1 class="set text-light text-center voice_channel">تحديد روم صوتي</h1>
                        </div>
                        <div class="card-footer">
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" disabled>
                                <option selected value="0">قريباً ..</option>
                                {% for channel in voice_channels %}
                                    {% if channel.id == info.voice %}
                                        <option value="{{ channel.id }}" class="text-start" selected>#{{ channel.name }}</option>
                                    {% else %}}	
                                        <option value="{{ channel.id }}" class="text-start">#{{ channel.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row row-cols-1 row-cols-md-3 g-3">

                <div class="col update">
                    <div class="card bg-dark m-1">
                        <div class="card-body">
                            <h1 class="set text-light text-center">تغير الوقت</h1>
                        </div>
                        <div class="card-footer">
                            <select class="form-select form-select-sm time" aria-label=".form-select-sm example">
                                <option value="1800" class="text-end" {% if 1800==info.time %} selected {% endif %}>
                                    دقيقه 30</option>
                                <option value="3600" class="text-end" {% if 3600==info.time %} selected {% endif %}>ساعة
                                </option>
                                <option value="7200" class="text-end" {% if 7200==info.time %} selected {% endif %}>
                                    ساعتين</option>
                                <option value="21600" class="text-end" {% if 21600==info.time %} selected {% endif %}>6
                                    ساعات</option>
                                <option value="43200" class="text-end" {% if 43200==info.time %} selected {% endif %}>
                                    ساعات 12</option>
                                <option value="86400" class="text-end" {% if 86400==info.time %} selected {% endif %}>
                                    ساعات 24</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col update">
                    <div class="card bg-dark maintenance">
                        <div class="card-body">
                            <h1 class="set text-light text-center">علبة الوان</h1>
                        </div>
                        <div class="card-footer">
                            <input type="color" class="form-control form-control-color w-100" id="exampleColorInput"
                                value="#262727" title="Choose your color" disabled><br>
                        </div>
                    </div>
                </div>

                <div class="col update">
                    <div class="card bg-dark m-1 maintenance ">
                        <div class="card-body">
                            <h1 class="set text-light text-center">تحديد روم الخاتمه</h1>
                        </div>
                        <div class="card-body">
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" disabled>
                                <option selected value="0">قريباً ..</option>
                                {% for channel in text_channels %}
                                    {% if channel.id == info.channel_quran %}
                                        <option value="{{ channel.id }}" class="text-start" selected>#{{ channel.name }}</option>
                                    {% else %}}	
                                        <option value="{{ channel.id }}" class="text-start">#{{ channel.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="row row-cols-1 row-cols-md-1 g-4">

                <div class="col update" dir="ltr">
                    <div class="card bg-dark m-1">
                        <div class="card-body">
                            <h1 class="set text-light d-inline-flex float-end">تحديد نوع الارسال</h1>
                            <div class="form-check form-switch text-start h3 d-inline-flex rt">
                                <input class="form-check-input rt anti_spam" type="checkbox" role="switch" name="anti_spam"
                                    id="flexSwitchCheckChecked" {% if info.ant_spam %}checked{% endif %}>
                            </div>
                            <p class="text-end h6 sfsf"><b class="sfsf-1">(ينصح لسيرفرات الكبيره)</b> يقلل في ارسال
                                الذكار
                                اذا لم يكون
                                اشات متفاعل</p>
                        </div>
                    </div>
                </div>

                <div class="col update" dir="ltr">
                    <div class="card bg-dark m-1">
                        <div class="card-body">
                            <h1 class="set text-light d-inline-flex float-end">تحديد نوع الامبد</h1>
                            <div class="form-check form-switch text-start h3 d-inline-flex rt">
                                <input class="form-check-input rt embed" type="checkbox" role="switch"
                                    id="flexSwitchCheckChecked" {% if info.embed %}checked{% endif %}>
                            </div>
                            <p class="text-end h6 sfsf">يضع الاذكار في سندوق مرتب</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


<div class="container">
    <div class="row row-cols-1 row-cols-md-1 g-3">
        <div class="position-fixed bottom-0 end-0" style="z-index: 11">
            <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="col" dir="ltr">
                        <div class="card bg-dark m-2" style="border: 1px solid var(--color1);">
                            <div class="card-body">
                                <h1 class="set text-light d-inline-flex float-end ">احذر — لديك تغييرات لم يتم حفظها!</h1>
                                <div class="group-buttons float-start save-menu">
                                    <button class="btn me-2 mx-2 save-button" id="saqr44">حفظ التغييرات</button>
                                    <button class="btn me-2 mx-2 cancel-button">إلغاء</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>



<!-- <div class="position-fixed top-0 start-50 translate-middle-x w-25 p-3" style="z-index: 99999999" dir="ltr">
    <div id="saqr144" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="alert alert-danger d-flex align-items-center float-start" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div class="float-end">
                خطا لا اسططيع الحفط
            </div>
        </div>
    </div>
</div> -->

<div class="position-fixed top-0 start-50 translate-middle-x w-25 p-3" style="z-index: 99999999" dir="ltr">
    <div id="saqr144" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="alert alert-success d-flex align-items-center float-start" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div class="float-end">
                تم الحفط بنجاح
            </div>
        </div>
    </div>
</div>

{% endblock %}

    
{% block js %}
<script>

var toastTrigger = document.getElementById('saqr44')
var toastLiveExample = document.getElementById('saqr144')
if (toastTrigger) {
  toastTrigger.addEventListener('click', function () {
    var toast = new bootstrap.Toast(toastLiveExample)

    toast.show()
  })
}





    jQuery.extend({
        getValues: function(url, method = "GET") {
            var result = null;
            $.ajax({
                url: url,
                method: method,
                async: false,
                success: function(data) {
                    result = data;
                }
            });
        return result;
        },
        getDataFromElements: function (){
            return {
                channel: ($(".channel_id").val() == 0) ? null : $(".channel_id").val(),
                time: parseInt($(".time").val()),
                anti_spam: $(".anti_spam").is(":checked"),
                embed: $(".embed").is(":checked"),
                role_id: ($(".role_id").val() == 0) ? null : $(".role_id").val(),
            }
        }
    });
    var result = $.getValues("/api/guilds/{{ guild.id }}/info").guild;
    $('.update').change(function () {
        var data = $.getDataFromElements();
        if (
            data.channel == result.channel &&
            data.time == result.time &&
            data.anti_spam == result.anti_spam &&
            data.embed == result.embed &&
            data.role_id == result.role_id
        ) {
            $('#liveToast').fadeOut(500);
            $('#liveToast').addClass('d-none');
        } else {
            $('#liveToast').fadeIn(500);
            $('#liveToast').removeClass('d-none');
        }
    });

    $('.save-button').click(function () {
        var data = $.getDataFromElements();
        $.ajax({
            url: "/api/guilds/{{ guild.id }}/update",
            method: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                if (data.message == "Success!"){
                    $('#liveToast').fadeOut(500);
                    $('#liveToast').addClass('d-none');
                    result = data;
                } else if (data.message == "No updates"){
                    $('#liveToast').fadeOut(500);
                    $('#liveToast').addClass('d-none');
                } 
                else {
                    $('#liveToast').fadeOut(500);
                    $('#liveToast').removeClass('d-none');
                }
            }
        });
    });

    $(".cancel-button").click(function () {
        $(".channel_id").val(result.channel);
        $(".time").val(result.time);
        $(".anti_spam").prop("checked", result.anti_spam);
        $(".embed").prop("checked", result.embed);
        $(".role_id").val(result.role_id);
        $('#liveToast').fadeOut(500);
        $('#liveToast').addClass('d-none');
    });

</script>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}