{% extends 'base.html' %}

{% block stats_for_login %}
<li class="nav-item">
	<a href="/logout" class="nav-link">
		<button class="btn btn-outline-danger text-white c" type="submit">
			تسجيل الخروج
		</button>
	</a>
</li>
{% endblock %}

{% block content %}


<div class="all text first div">

	<section class="py-5 text-white text first div">
		<div class="container">
			<h1 class="saqr-color-logo">أضبط إعدادات الخادم الخاص بك</h1><br>
			<div class="text-center align-items-center justify-content-center text-end">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-outline-secondary saqr-y m-3" data-bs-toggle="modal"
					data-bs-target="#setroom">
					أختيار قناة أرسال الأذكار
				</button>

				<!-- Modal -->
				<div class="modal" id="setroom" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<label for="exampleColorInput" class="form-label">تحديد شات الاذكار</label>
								<select class="form-select text-end" aria-label="Default select example" id="channel-id">
									<option value="reset" selected>غير محدد</option>
									{% for channel in text_channels %}
										{% if channel.id == info.channel %}
											<option value="{{ channel.id }}" class="text-start" selected>#{{ channel.name }}</option>
										{% else %}}	
											<option value="{{ channel.id }}" class="text-start">#{{ channel.name }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الرجوع</button>
								<button type="button" class="btn btn-warning text-white" id="setroom-save-button">حفظ</button>
							</div>
						</div>
					</div>
				</div>

				<!-- Button trigger modal -->
				<button type="button" class="btn btn-outline-warning saqr-y" data-bs-toggle="modal"
					data-bs-target="#quran-play">
					تحديد روم صوتي للقرآن الكريم
				</button>

				<!-- Modal -->
				<div class="modal fade" id="quran-play" tabindex="-1" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<label for="exampleColorInput" class="form-label">تحديد روم صوتي</label>
								<select class="form-select text-end" aria-label="Default select example">
									<option selected>...اختر</option>
									
									{% for channel in voice_channels %}
										{% if channel.id == info.voice %}
											<option value="{{ channel.id }}" class="text-start" selected>#{{ channel.name }}</option>
										{% else %}
											<option value="{{ channel.id }}" class="text-start">#{{ channel.name }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">العودة</button>
								<button type="button" class="btn btn-warning text-white"
									id="quran-play-true">حفظ</button>
							</div>
						</div>
					</div>
				</div>
				<section class="py-5">
					<div class="container">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-outline-warning saqr-y" data-bs-toggle="modal"
							data-bs-target="#quran-role">
							تحديد رتبة تحكم في القران
						</button>

						<!-- Modal -->
						<div class="modal fade" id="quran-role" tabindex="-1" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<label for="exampleColorInput" class="form-label">تحديد رتبة</label>
										<select class="form-select text-end" aria-label="Default select example">
											<option selected>...اختر</option>
											{% for role in roles %}
												{% if role.name == '@everyone' %}
												{% else %}
													{% if role.id == info.role_id %}
														<option value="{{ role.id }}" class="text-start" selected>@{{ role.name }}</option>
													{% else %}
														<option value="{{ role.id }}" class="text-start">@{{ role.name }}</option>
													{% endif %}
												{% endif %}
											{% endfor %}
										</select>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">العودة</button>
										<button type="button" class="btn btn-warning text-white"
											id="quran-role-true">حفظ</button>
									</div>
								</div>
							</div>
						</div>
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-outline-secondary saqr-y m-3" data-bs-toggle="modal"
							data-bs-target="#embed">
							تغير لون الامبد | و الوقت
						</button>

						<!-- Modal -->
						<div class="modal fade" id="embed" tabindex="-1" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<!-- <h5 class="modal-title" id="exampleModalLabel">علبة الوان</h5> -->
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<label for="exampleColorInput" class="form-label">تغير الوقت</label>
										<select class="form-select text-end" aria-label="Default select example">

											<option value="1800" class="text-end" {% if 1800 == info.time %} selected {% endif %}>دقيقه 30</option>
											<option value="3600" class="text-end" {% if 3600 == info.time %} selected {% endif %}>ساعة</option>
											<option value="7200" class="text-end" {% if 7200 == info.time %} selected {% endif %}>ساعتين</option>
											<option value="21600" class="text-end" {% if 21600 == info.time %} selected {% endif %}>ساعات 6</option>
											<option value="43200" class="text-end" {% if 43200 == info.time %} selected {% endif %}>ساعات 12</option>
											<option value="86400" class="text-end" {% if 86400 == info.time %} selected {% endif %}>ساعات 24</option>
										</select>
										<div>
											<label for="exampleColorInput" class="form-label">علبة الوان</label>
											<input type="color" class="form-control form-control-color w-100"
												id="exampleColorInput" value="#FFD700" title="Choose your color">
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">العودة</button>
										<button type="button" class="btn btn-warning text-white"
											id="embed-true">حفظ</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="py-2">
					<div class="container">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-outline-secondary saqr-y m-3" data-bs-toggle="modal"
							data-bs-target="#spam">
							تكرار الرسائل
						</button>

						<!-- Modal -->
						<div class="modal fade" id="spam" tabindex="-1" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body py-5">
										<label for="exampleColorInput" class="form-label">تحديد نوع الارسال</label>
										<select class="form-select text-end" aria-label="Default select example">
											<option value="true" class="text-end" {% if info.anti_spam %} selected {% endif %}>تشغيل</option>
											<option value="false" class="text-end" {% if not info.anti_spam %} selected {% endif %}>ايقاف</option>
										</select>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">العودة</button>
										<button type="button" class="btn btn-warning text-white"
											id="spam-true">حفظ</button>
									</div>
								</div>
							</div>
						</div>
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-outline-warning saqr-y" data-bs-toggle="modal"
							data-bs-target="#embed-1">
							الامبد
						</button>

						<!-- Modal -->
						<div class="modal fade" id="embed-1" tabindex="-1" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="btn-close" data-bs-dismiss="modal"
											aria-label="Close"></button>
									</div>
									<div class="modal-body py-5">
										<label for="exampleColorInput" class="form-label">تحديد نوع الارسال</label>
										<select class="form-select text-end" aria-label="Default select example">
											<option value="1" class="text-end" {% if info.embed %} selected {% endif %}>تشغيل</option>
											<option value="2" class="text-end" {% if not info.embed %} selected {% endif %}>ايقاف</option>
										</select>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-bs-dismiss="modal">العودة</button>
										<button type="button" class="btn btn-warning text-white"
											id="embed-1-true">حفظ</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
	<!--  -->

	<!-- if saved -->
	<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
		<div id="true-save" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header-true toast-header">
				<i class="fas fa-check-circle rounded me-2 saqr-true"></i>
				<strong class="me-auto">تم الحفظ</strong>
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
		</div>
	</div>

	<!-- not saved -->

	<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
		<div id="false-save" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="alert alert-dange toast-header-false toast-header">
				<i class="fa-solid fa-x rounded me-2"></i>
				<strong class="me-auto">لم يتم حفظ التعديلات</strong>
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
		</div>
	</div>

	<!-- <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
		<div id="true-save" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="alert alert-dange toast-header-true toast-header">
				<i class="fas fa-check-circle rounded me-2 saqr-true"></i>
				<strong class="me-auto">تم الحفظ</strong>
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
		</div>
	</div> -->

<script>
	var trueSave = document.getElementById('true-save')
	var falseSave = document.getElementById('false-save')

	document.getElementById('setroom-save-button').addEventListener('click', function () {
		$.ajax({
			url: `/api/guilds/{{ guild.id }}/channel`,
			type: "post",
			data: {
				"channel_id": "lol",
			},
			success: function (data, status, xhr) {
				console.log(data)
				if (!data.error) {
					var toast = new bootstrap.Toast(trueSave)
					toast.show()
				} else {
					var toast = new bootstrap.Toast(falseSave)
					toast.show()
				}
			},
			error: function (data, status) {
				var toast = new bootstrap.Toast(falseSave)
				toast.show()
			}
		});
	})


	// if (toastTrigger) {
	// 	toastTrigger.addEventListener('click', function () {
	// 		var toast = new bootstrap.Toast(toastLiveExample)

	// 		toast.show()
	// 	})
	// }

	var toastTrigger = document.getElementById('quran-play-true')
	var toastLiveExample = document.getElementById('quran-play-true-1')
	if (toastTrigger) {
		toastTrigger.addEventListener('click', function () {
					var toast = new bootstrap.Toast(falseSave)
					toast.show()
		})
	}
	var toastTrigger = document.getElementById('quran-role-true')
	var toastLiveExample = document.getElementById('quran-role-true-1')
	if (toastTrigger) {
		toastTrigger.addEventListener('click', function () {
					var toast = new bootstrap.Toast(trueSave)
					toast.show()
		})
	}
	var toastTrigger = document.getElementById('embed-true')
	var toastLiveExample = document.getElementById('embed-true-1')
	if (toastTrigger) {
		toastTrigger.addEventListener('click', function () {
					var toast = new bootstrap.Toast(trueSave)
					toast.show()
		})
	}
	var toastTrigger = document.getElementById('spam-true')
	var toastLiveExample = document.getElementById('spam-true-1')
	if (toastTrigger) {
		toastTrigger.addEventListener('click', function () {
					var toast = new bootstrap.Toast(trueSave)
					toast.show()
		})
	}
	var toastTrigger = document.getElementById('embed-1-true')
	var toastLiveExample = document.getElementById('embed-1-true-1')
	if (toastTrigger) {
		toastTrigger.addEventListener('click', function () {
					var toast = new bootstrap.Toast(trueSave)
					toast.show()
		})
	}

</script>


{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}