{% extends 'base.html' %}

{% block stats_for_login %}
<ul class="navbar-nav ml-auto text-center" dir="ltr">
<div class="btn-group d-block me-lg-1 mx-lg-1" role="group">
    <button id="users" type="button" class="btn primary dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="{{ user.avatar }}"
        width="28" height="28" class="image"> <b>{{ user.username }}</b>
    </button>
    <ul class="dropdown-menu saqrs" aria-labelledby="users">
        <li class="nav-item"><a class="dropdown-item text-center primary" href="/dashboard">السيرفرات</a></li>
        {% if is_admin %}
        <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin">لوحة الادمن</a></li>
        <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin/logs">السجلات</a></li>
        {% endif %}
        <li class="nav-item"><a class="dropdown-item text-center primary red" href="/logout">تسجيل خروج</a></li>
    </ul>
</div>
</ul>
{% endblock %}

{% block content %}


<div class="all text first div">

    <section class="py-5 text-white text first div">
        <div class="container">

            <div class="row row-cols-1 row-cols-md-3 g-1">

                <!-- Setup channel -->
                <div class="col update">
                    <div class="card bg-dark m-1">
                        <div class="card-body">
                            <h1 class="set text-light text-center">تحديد روم للاذكار</h1>
                        </div>
                        <div class="card-footer">
                            <select class="form-select form-select-sm channel_id" aria-label=".form-select-sm example">
                                <option selected value="0">اختر ..</option>
                                {% for channel in text_channels %}
                                    {% if channel.id == info.channel %}
                                        <option value="{{ channel.id }}" class="text-start" selected>#{{ channel.name }}
                                        </option>
                                    {% else %}}
                                        <option value="{{ channel.id }}" class="text-start">#{{ channel.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Setup qurau role channel -->
                <div class="col update">
                    <div class="card bg-dark m-1 mb-3">
                        <div class="card-body">
                            <h1 class="set text-light text-center">تحديد رتبه للقران الكربم</h1>
                        </div>
                        <div class="card-body">
                            <select class="form-select form-select-sm role_id" aria-label=".form-select-sm example">
                                <option selected value="0">اختر ..</option>
                                {% for role in roles %}
                                    {% if role.name == '@everyone' %}
                                    {% else %}
                                        {% if role.id == info.role_id %}
                                            <option value="{{ role.id }}" class="text-start" selected>@{{ role.name }}</option>
                                        {% else %}
                                            <option value="{{ role.id }}" class="text-start">@{{ role.name }}</option>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col update">
                    <div class="card bg-dark m-1 maintenance">
                        <div class="card-body">
                            <h1 class="set text-light text-center voice_channel">تحديد روم صوتي</h1>
                        </div>
                        <div class="card-footer">
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" disabled>
                                <option selected value="0">قريباً ..</option>
                                {% for channel in voice_channels %}
                                    {% if channel.id == info.voice %}
                                        <option value="{{ channel.id }}" class="text-start" selected>#{{ channel.name }}</option>
                                    {% else %}}	
                                        <option value="{{ channel.id }}" class="text-start">#{{ channel.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row row-cols-1 row-cols-md-3 g-3">

                <div class="col update">
                    <div class="card bg-dark m-1">
                        <div class="card-body">
                            <h1 class="set text-light text-center">تغير الوقت</h1>
                        </div>
                        <div class="card-footer">
                            <select class="form-select form-select-sm time" aria-label=".form-select-sm example">
                                <option value="1800" class="text-end" {% if 1800==info.time %} selected {% endif %}>
                                    دقيقه 30</option>
                                <option value="3600" class="text-end" {% if 3600==info.time %} selected {% endif %}>ساعة
                                </option>
                                <option value="7200" class="text-end" {% if 7200==info.time %} selected {% endif %}>
                                    ساعتين</option>
                                <option value="21600" class="text-end" {% if 21600==info.time %} selected {% endif %}>6
                                    ساعات</option>
                                <option value="43200" class="text-end" {% if 43200==info.time %} selected {% endif %}>
                                    ساعات 12</option>
                                <option value="86400" class="text-end" {% if 86400==info.time %} selected {% endif %}>
                                    ساعات 24</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col update">
                    <div class="card bg-dark">
                        <div class="card-body">
                            <h1 class="set text-light text-center">علبة الوان</h1>
                        </div>
                        <div class="card-footer">
                            <input type="color" class="form-control form-control-color w-100" id="exampleColorInput"
                                value="#262727" title="Choose your color"><br>
                        </div>
                    </div>
                </div>

                <div class="col update">
                    <div class="card bg-dark m-1 maintenance ">
                        <div class="card-body">
                            <h1 class="set text-light text-center">تحديد روم الخاتمه</h1>
                        </div>
                        <div class="card-body">
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" disabled>
                                <option selected value="0">قريباً ..</option>
                                {% for channel in text_channels %}
                                    {% if channel.id == info.channel_quran %}
                                        <option value="{{ channel.id }}" class="text-start" selected>#{{ channel.name }}</option>
                                    {% else %}}	
                                        <option value="{{ channel.id }}" class="text-start">#{{ channel.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="row row-cols-1 row-cols-md-1 g-4">

                <div class="col update" dir="ltr">
                    <div class="card bg-dark m-1">
                        <div class="card-body">
                            <h1 class="set text-light d-inline-flex float-end">تحديد نوع الارسال</h1>
                            <div class="form-check form-switch text-start h3 d-inline-flex rt">
                                <input class="form-check-input rt anti_spam" type="checkbox" role="switch" name="anti_spam"
                                    id="flexSwitchCheckChecked" {% if info.ant_spam %}checked{% endif %}>
                            </div>
                            <p class="text-end h6 sfsf"><b class="sfsf-1">(ينصح لسيرفرات الكبيره)</b> يقلل في ارسال
                                الذكار
                                اذا لم يكون
                                اشات متفاعل</p>
                        </div>
                    </div>
                </div>

                <div class="col update" dir="ltr">
                    <div class="card bg-dark m-1">
                        <div class="card-body">
                            <h1 class="set text-light d-inline-flex float-end">تحديد نوع الامبد</h1>
                            <div class="form-check form-switch text-start h3 d-inline-flex rt">
                                <input class="form-check-input rt embed" type="checkbox" role="switch"
                                    id="flexSwitchCheckChecked" {% if info.embed %}checked{% endif %}>
                            </div>
                            <p class="text-end h6 sfsf">يضع الاذكار في سندوق مرتب</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


<div class="container">
    <div class="row row-cols-1 row-cols-md-1 g-3">
        <div class="position-fixed bottom-0 end-0" style="z-index: 11">
            <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="col" dir="ltr">
                        <div class="card bg-dark m-2" style="border: 1px solid var(--color1);">
                            <div class="card-body">
                                <h1 class="set text-light d-inline-flex float-end ">احذر — لديك تغييرات لم يتم حفظها!</h1>
                                <div class="group-buttons float-start save-menu">
                                    <button class="btn btn-lg me-2 mx-2 save-button">حفظ التغييرات</button>
                                    <button class="btn btn-lg me-2 mx-2 cancel-button">إلغاء</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}

    
{% block js %}
<script>
    jQuery.extend({
        getValues: function(url, method = "GET") {
            var result = null;
            $.ajax({
                url: url,
                method: method,
                async: false,
                success: function(data) {
                    result = data;
                }
            });
        return result;
        },
        getDataFromElements: function (){
            return {
                channel: (parseInt($(".channel_id").val()) == 0) ? null : parseInt($(".channel_id").val()),
                time: parseInt($(".time").val()),
                anti_spam: $(".anti_spam").is(":checked"),
                embed: $(".embed").is(":checked"),
                role_id: (parseInt($(".role_id").val()) == 0) ? null : parseInt($(".role_id").val()),
            }
        }
    });
    var result = $.getValues("/api/guilds/{{ guild.id }}/info").guild;
    $('.update').change(function () {
        var data = $.getDataFromElements();
        console.log(data);
        if (
            data.channel == result.channel &&
            data.time == result.time &&
            data.anti_spam == result.anti_spam &&
            data.embed == result.embed &&
            data.role_id == result.role_id
        ) {
            console.log("yes")
            $('#liveToast').removeClass('show');
        } else {
            console.log("no")
            $('#liveToast').addClass('show');
        }
    });

    $('.save-button').click(function () {
        var data = $.getDataFromElements();
        $.ajax({
            url: "/api/guilds/{{ guild.id }}/update",
            method: "POST",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                $('#liveToast').removeClass('show');
            }
        });
    });

    $(".cancel-button").click(function () {
        $(".channel_id").val(result.channel);
        $(".time").val(result.time);
        $(".anti_spam").prop("checked", result.anti_spam);
        $(".embed").prop("checked", result.embed);
        $(".role_id").val(result.role_id);
        $('#liveToast').removeClass('show');
    });

</script>

{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}