<template>
    <div
      class="
        font-amiri
        bg-gradient-to-b
        from-fdr-dark-500
        to-fdr-dark-400
        text-gray-100
      "
    >
      <!-- Navbar -->
      <div
        class="
          flex-none
          w-full
          px-2
          sm:px-6
          transition-width
          flex
          justify-between
          p-4
          text-gray-50
        "
      >
        <div class="flex items-center">
          <div class="rtl:ml-4 ltr:mr-4">
            <nuxt-link to="/" class="bg-fdr-dark-500 w-[55px]">
              <nuxt-img height="55" src="/fdr-ahlin-edit.png" />
            </nuxt-link>
          </div>
          <ul class="flex">
            <li
              v-for="link in navLinks"
              :key="link.label"
              class="
                mx-1
                p-2
                hover:cursor-pointer hover:text-fdr-yellow-200
                transition-colors
                duration-300
                text-xl
              "
            >
              <nuxt-link
                v-if="link.to"
                class="flex justify-center items-center text-md"
                :to="link.to"
              >
                <p class="inline-block">{{ link.label }}</p>
              </nuxt-link>
              <a
                v-if="link.href"
                class="flex justify-center items-center text-md"
                :href="link.href"
              >
                <p>{{ link.label }}</p>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <nuxt-link
            type="button"
            class="
              inline-flex
              items-center
              px-3
              py-2
              mx-2
              text-md text-fdr-dark-50
              border-4 border-fdr-dark-300
              bg-fdr-yellow-400
              shadow-md
              rounded-full
              transition-colors-shadow
              duration-700
              hover:text-fdr-yellow-200 hover:bg-fdr-dark-200 hover:shadow-sm
              text-md
              font-bold
            "
            :to="$auth.loggedIn ? '/dashboard' : '/auth/login'"
          >
            <span>{{ $auth.loggedIn ? 'لوحة التحكم' : 'تسجيل الدخول' }}</span>
            <FontAwesomeIcon
              class="ltr:ml-2 rtl:mr-1"
              :icon="['fab', 'discord']"
            />
          </nuxt-link>
        </div>
      </div>
      <!-- Navbar -->
      <div
        class="
          relative
          overflow-hidden
          flex flex-wrap
          justify-center
          md:ltr:justify-end md:rtl:justify-start
          items-center
          px-2
          sm:px-6
        "
      >
        <div
          class="
            flex-initial
            lg:flex-1
            mt-20
            lg:mt-40
            mb-0
            lg:mb-40
            text-center
            md:ltr:text-left md:rtl:text-right
            font-almarai
          "
        >
          <p
            class="
              text-6xl
              md:text-7xl
              my-6
              leading-normal
              font-extrabold
              text-fdr-dark-50
            "
          >
            لإحياء سنة <span class="text-fdr-yellow-200">ذكر</span> الله
          </p>
          <p
            class="
              text-2xl
              md:text-2xl
              my-4
              font-bold
              text-fdr-dark-100
              ltr:mr-16
              rtl:ml-16
              leading-10
              md:leading-10
            "
          >
            بوت فاذكروني اول بوت عربي اسلامي للاذكار | بوت فاذكروني للتذكير بذكر
            الله في الشات .البوت يذكرك بالله بإرسال الاذكار , الحديث او القران كل
            ساعة او المدة التي تقوم بتحديدها
          </p>
          <nuxt-link
            to="/dashbaord"
            class="
              inline-flex
              items-center
              px-3
              py-2
              mx-2
              md:text-lg
              text-md text-fdr-dark-50
              border-4 border-fdr-dark-300
              bg-fdr-yellow-400
              shadow-md
              rounded-full
              transition-colors-shadow
              duration-700
              hover:text-fdr-yellow-200 hover:bg-fdr-dark-200 hover:shadow-sm
              text-md
              font-bold font-amiri
            "
          >
            <b>لوحة التحكم </b>
            <FontAwesomeIcon :icon="['fab', 'discord']" class="ltr:ml-2 rtl:mr-2"
          /></nuxt-link>
          <nuxt-link
            to="/invite"
            class="
              inline-flex
              items-center
              px-3
              py-2
              mx-2
              md:text-lg
              text-md text-gray-300
              border-4 border-fdr-dark-300
              bg-transparent
              shadow-md
              rounded-full
              transition-colors-shadow
              duration-700
              hover:bg-gray-200 hover:text-gray-800 hover:shadow-sm
              text-md
              font-bold font-amiri
            "
            ><b>اضف بوت فاذكروني</b>
            <FontAwesomeIcon :icon="['fas', 'link']" class="ltr:ml-2 rtl:mr-2"
          /></nuxt-link>
        </div>
        <div
          class="
            flex-initial flex-shrink-0 flex
            w-full
            lg:w-auto
            justify-center
            order-last
            lg:order-none
          "
        >
          <img
            class="
              w-10/12 w-[250px]
              sm:w-[300px]
              md:w-[350px]
              lg:w-[400px]
              p-8
              lg:p-0
            "
            src="/fdr-ahlin-edit.png"
          />
        </div>
      </div>
      <div class="relative overflow-hidden text-fdr-dark-400 pt-4" ref="wave">
        <ExploreWave
          class="
            relative
            ltr:left-1/2
            rtl:right-1/2
            transform
            ltr:-translate-x-1/2
            rtl:translate-x-1/2
            fill-current
            transition-color
            duration-300
            ease-in-out
            filter
            drop-shadow-glow
          "
        />
      </div>
      <div class="relative bg-fdr-dark-400">
        <div class="flex-initial w-full flex py-6 justify-center">
          <div class="flex-initial w-full lg:w-10/12 m-6">
            <center class="text-3xl font-almarai leading-toose">
              <p>اكتشف بوت <span class="text-fdr-yellow-200">فاذكروني</span></p>
            </center>
            <div
              class="my-8 flex justify-center h-[250px] relative overflow-hidden"
            >
              <nuxt-img
                class="
                  absolute
                  h-auto
                  w-full
                  left-0
                  top-1/2
                  transform
                  -translate-y-1/2
                  px-6
                  opacity-10
                "
                src="/newdiscordlogo.png"
              />
              <div
                class="
                  text-lg
                  flex
                  w-8/12
                  justify-between
                  items-center
                  p-4
                  z-10
                  text-center
                "
              >
                <div class="flex-initial w-1/2 flex-shrink-0">
                  <p class="text-xl">
                    عدد السيرفرات <FontAwesomeIcon :icon="['fab', 'discord']" />
                  </p>
                  <p
                    class="counter font-mono text-fdr-yellow-200"
                    :data-target="serversCount"
                  >
                    0
                  </p>
                </div>
                <div class="flex-initial w-1/2 flex-shrink-0">
                  <p class="text-xl">
                    عدد المستخدمين <FontAwesomeIcon :icon="['fas', 'users']" />
                  </p>
                  <p
                    class="counter font-mono text-fdr-yellow-200"
                    :data-target="usersCount"
                  >
                    0
                  </p>
                </div>
              </div>
            </div>
            <hr class="border-fdr-dark-500 my-4 w-full" />
          </div>
        </div>
        <div
          class="
            flex
            justify-around justify-between
            top-0
            p-4
            font-almarai
            text-gray-300
            transition-color
            duration-300
            ease-in-out
          "
          ref="nav"
          v-scroll-spy-active="{ class: 'text-fdr-yellow-200' }"
          v-scroll-spy-link
        >
          <a
            class="
              transition-opacity
              duration-200
              ease-in-out
              text-lg
              font-bold
              cursor-pointer
            "
            >المزايا</a
          >
          <a
            class="
              transition-opacity
              duration-200
              ease-in-out
              text-lg
              font-bold
              cursor-pointer
            "
          >
            فريق العمل
          </a>
          <a
            class="
              transition-opacity
              duration-200
              ease-in-out
              text-lg
              font-bold
              cursor-pointer
            "
          >
            ارآء المستخدمين
          </a>
        </div>
        <div v-scroll-spy="{ allowNoActive: true }">
          <div class="h-[100vh] bg-fdr-dark-500 rounded-t-3xl"></div>
          <div class="h-[100vh]"></div>
          <div class="h-[100vh]"></div>
        </div>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        navLinks: [
          {
            label: 'الأوامر',
            to: '/commands',
          },
          {
            label: 'الدعم الفني',
            href: 'https://discord.gg/qPy8nzDxem',
          },
        ],
        serversCount: 5000,
        usersCount: 1000000,
      }
    },
    mounted() {
      const wave = this.$refs.wave
      const nav = this.$refs.nav
  
      'load scroll'.split(' ').map((eventName) => {
        window.addEventListener(eventName, function () {
          attractNav()
          attractCounters()
        })
      })
  
      function attractNav() {
        const navrect = nav.getBoundingClientRect()
        console.log(navrect.top, window.scrollY)
        'sticky shadow-lg'.split(' ').map((className) => {
          nav.classList[
            navrect.top <= 0
              ? className.startsWith('!')
                ? 'remove'
                : 'add'
              : className.startsWith('!')
              ? 'add'
              : 'remove'
          ](className.replace('!', ''))
        })
      }
  
      function attractCounters() {
        const counters = document.querySelectorAll('.counter')
        for (let n of counters) {
          var rect = n.getBoundingClientRect()
          if (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <=
              (window.innerHeight ||
                document.documentElement
                  .clientHeight) /* or $(window).height() */ &&
            rect.right <=
              (window.innerWidth ||
                document.documentElement.clientWidth) /* or $(window).width() */
          ) {
            let count = parseInt(n.textContent)
            let speed = 10
            const updateCount = () => {
              const target = +n.getAttribute('data-target')
              let inc = target / speed
              if (count < target) {
                count = count + inc
                n.innerText = Math.ceil(count + inc)
                inc = count / speed
                speed = 250 * (Math.ceil(count + inc) / target)
                setTimeout(updateCount, 1)
              } else {
                n.innerText = target
              }
            }
            updateCount()
          }
        }
      }
    },
  }
  </script>
  