{% extends 'base.html' %}

{% block stats_for_login %}
<ul class="navbar-nav ml-auto text-center" dir="ltr">
    <div class="btn-group d-block me-lg-1 mx-lg-1" role="group">
        <button id="users" type="button" class="btn primary dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="{{ user.avatar }}" width="28" height="28" class="image"> <b>{{ user.username }}</b>
        </button>
        <ul class="dropdown-menu saqrs" aria-labelledby="users">
            <li class="nav-item"><a class="dropdown-item text-center primary" href="/dashboard">السيرفرات</a></li>
            <li>
                <hr class="dropdown-divider bg-light">
            </li>
            <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin">لوحة الادمن</a></li>
            <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin/suggestions">السجلات الاقتراحات</a></li>
            <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin/logs">السجلات</a></li>
            <li>
                <hr class="dropdown-divider bg-light">
            </li>
            <li class="nav-item"><a class="dropdown-item text-center primary red" href="/logout">تسجيل خروج</a></li>
        </ul>
    </div>
</ul>
{% endblock %}

{% block content %}

<section class="py-5" dir="ltr">
    <div class="container">
        <div class="text-center">
            <h2 class="text-center h1 text-white title">اقتراحات</h2>
            <br><br>
            <div class="row row-cols-1 row-cols-md-3 g-3">

                <div class="col-sm">
                    <div class="card text-light mb-3 card-3 bg-fdr-col card-image" id="card-animation">
                        <div class="card-header">
                            <h1 class="h1 text-center">اقتراحات</h1>
                            <p><b class="float-start">منذ 11 يوم</b> <b class="color-1 float-end"><i class="fa-solid fa-thumbs-down up"></i> اكثر اعجابا</b></p>
                        </div><hr>
                        <div class="card-body">
                            <h6 class="card-body text-color-1 text-end">اقترح تحطون امر زي zker بس يكون استدعاء لأذكار الصباح و المساء و النوم و الصلاة و الاستيقاظ. كل ذكر امر خاص به.</h6>
                        </div><hr>
                        <div class="card-footer">
                            <p class="card-title img-fluid mb-3 text-color h4 text-start card-avatar"><img
                                    src="https://cdn.discordapp.com/avatars/531524038078496768/7533f68fd379462bae9309bafa8f7712.png?size=1024"
                                    width="80" height="80" class="image card-avatar-1" id="card-animation-1"> AboAhmed#1765
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="card text-light mb-3 card-3 bg-fdr-col card-image" id="card-animation">
                        <div class="card-header">
                            <h1 class="h1 text-center">اقتراحات</h1>
                            <p><b class="float-start">منذ 18 يوم</b> <b class="color-1 float-end"><i class="fa-solid fa-thumbs-down up"></i> اكثر اعجابا</b></p>
                        </div><hr>
                        <div class="card-body">
                            <h6 class="card-body text-color-1 text-end">اقترح ان البوت يكون في امر يشغل القران 24h</h6>
                        </div><hr>
                        <div class="card-footer">
                            <p class="card-title img-fluid mb-3 text-color h4 text-start card-avatar"><img
                                    src="https://cdn.discordapp.com/avatars/845089044027277372/6607464e11f5cca91a55c778eaba2a9b.png?size=1024"
                                    width="80" height="80" class="image card-avatar-1" id="card-animation-1"> real_70v#1255
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="card text-light mb-3 card-3 bg-fdr-col card-image" id="card-animation">
                        <div class="card-header">
                            <h1 class="h1 text-center">اقتراحات</h1>
                            <p><b class="float-start">منذ سنه و 4 أشهر</b> <b class="color-2 float-end"><i class="fa-solid fa-thumbs-up down"></i> اقتراح سيء</b></p>
                        </div><hr>
                        <div class="card-body">
                            <h6 class="card-body text-color-1 text-end">اقترح تحطون امر زي zker بس يكون استدعاء لأذكار الصباح و المساء و النوم و الصلاة و الاستيقاظ. كل ذكر امر خاص به.</h6>
                        </div><hr>
                        <div class="card-footer">
                            <p class="card-title img-fluid mb-3 text-color h4 text-start card-avatar"><img
                                    src="{{ url_for('static', filename='images/Deleted User#0000.png') }}"
                                    width="80" height="80" class="image card-avatar-1" id="card-animation-1"> Deleted User#0000
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<br><br>


{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}