
{% extends 'base.html' %}


{% block stats_for_login %}
<ul class="navbar-nav ml-auto text-center" dir="ltr">
<div class="btn-group d-block me-lg-1 mx-lg-1" role="group">
    <button id="users" type="button" class="btn primary dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="{{ user.avatar }}"
        width="28" height="28" class="image"> <b>{{ user.username }}</b>
    </button>
    <ul class="dropdown-menu saqrs" aria-labelledby="users">
        <li class="nav-item"><a class="dropdown-item text-center primary" href="/dashboard">السيرفرات</a></li>
        {% if is_admin %}
        <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin">لوحة الادمن</a></li>
        <li class="nav-item"><a class="dropdown-item text-center primary" href="/admin/logs">السجلات</a></li>
        {% endif %}
        <li class="nav-item"><a class="dropdown-item text-center primary red" href="/logout">تسجيل خروج</a></li>
    </ul>
</div>
</ul>
{% endblock %}

{% block content %}




<section class="py-5">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center flex-row-reverse">
            <h1 class="text-white text-center title"><i class="fa-solid fa-shield icon-1"></i> Moderation : <a href="/guild" class="btn primary-1 text-light">back</a></h1>
        </div>
        <!--  -->
        <div class="row row-cols-1 row-cols-md-1 g-1">

            <div class="col">
                <div class="card bg-dark m-1">
                    <img src="" alt="" width="28" height="28" class="image">
                </div>
            </div>


        </div>
    </div>
</section>



{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}